@model IEnumerable<RentCar.Models.CR_Cas_Account_Tax_Owed>

<div class="table-rep-plugin" id="TableDiv">
    <table id="myTable" class="table table-striped mb-0" style="cursor:default">
        <thead style="overflow-y: scroll; flex-grow: 1;">
            <tr>
                <th style="width:5%;">
                    م
                </th>
                <th style="width:15%;">
                    رقم العقد
                </th>
                <th style="width:12%;">
                    تاريخ الإستحقاق
                </th>
              <th style="width:9%;">
                    قيمة العقد
                </th>
                <th style="width:14%;">
                    النسبة 
                </th>
                <th style="width:15%;">
                    القيمة 
                </th>
                <th style="width:7%;">
                    الحالة
                </th>
                <th style="width:10%;">
                    تاريخ التسديد
                </th>
                <th>
                    رقم التسديد
                </th>
                
            </tr>
        </thead>
        <tbody id="tbl">
            @{
                int n = 1;
                foreach (var item in Model)
                {
                    if (item.CR_Cas_Account_Tax_Owed_Is_Paid == true)
                    {
                        <tr>
                            <td style="width:5%;text-align:center">
                                @n
                            </td>
                            <td style="width:15%;">
                                @Html.DisplayFor(modelItem => item.CR_Cas_Account_Tax_Owed_Contract_No)
                            </td>
                            <td style="width:12%;">
                                @item.CR_Cas_Account_Tax_Owed_Due_Date.Value.ToString("yyyy/MM/dd")
                            </td>
                            <td style="width:9%;text-align:center">
                                @Html.DisplayFor(modelItem => item.CR_Cas_Sup_Branch.CR_Mas_Com_Lessor.CR_Cas_Contract_Basic.FirstOrDefault(l => l.CR_Cas_Contract_Basic_No == item.CR_Cas_Account_Tax_Owed_Contract_No && l.CR_Cas_Contract_Basic_Status != "y").CR_Cas_Contract_Basic_Value)

                            </td>
                            <td style="width:14%;">
                                @Html.DisplayFor(modelItem => item.CR_Cas_Sup_Branch.CR_Mas_Com_Lessor.CR_Cas_Contract_Basic.FirstOrDefault(l => l.CR_Cas_Contract_Basic_No == item.CR_Cas_Account_Tax_Owed_Contract_No).CR_Cas_Contract_Basic_Tax_Rate)
                            </td>
                            <td style="width:15%;">
                                @Html.DisplayFor(modelItem => item.CR_Cas_Account_Tax_Owed_Value)
                            </td>
                            <td style="width:7%;">
                               <label>مسدد</label>
                            </td>
                            <td style="width:10%;">
                                @if (item.CR_Cas_Account_Tax_Owed_Pay_Date != null)
                                {
                                    @item.CR_Cas_Account_Tax_Owed_Pay_Date.Value.ToString("yyyy/MM/dd")
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CR_Cas_Account_Tax_Owed_Pay_No)
                            </td>

                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td style="width: 5%; text-align: center;color:red;">
                                @n
                            </td>
                            <td style="width: 15%; color: red;">
                                @Html.DisplayFor(modelItem => item.CR_Cas_Account_Tax_Owed_Contract_No)
                            </td>
                            <td style="width: 12%; color: red;">
                                @item.CR_Cas_Account_Tax_Owed_Due_Date.Value.ToString("yyyy/MM/dd")
                            </td>
                            <td style="width: 9%; text-align: center; color: red;">
                                @Html.DisplayFor(modelItem => item.CR_Cas_Sup_Branch.CR_Mas_Com_Lessor.CR_Cas_Contract_Basic.FirstOrDefault(l => l.CR_Cas_Contract_Basic_No == item.CR_Cas_Account_Tax_Owed_Contract_No && l.CR_Cas_Contract_Basic_Status != "y").CR_Cas_Contract_Basic_Value)

                            </td>
                            <td style="width: 14%; color: red;">
                                @Html.DisplayFor(modelItem => item.CR_Cas_Sup_Branch.CR_Mas_Com_Lessor.CR_Cas_Contract_Basic.FirstOrDefault(l => l.CR_Cas_Contract_Basic_No == item.CR_Cas_Account_Tax_Owed_Contract_No ).CR_Cas_Contract_Basic_Tax_Rate)
                            </td>
                            <td style="width: 15%; color: red;">
                                @Html.DisplayFor(modelItem => item.CR_Cas_Account_Tax_Owed_Value)
                            </td>
                            <td style="width: 7%; color: red;">
                                
                                <label>غير مسدد</label>
                               
                            </td>
                            <td style="width: 10%; color: red;">
                                @if (item.CR_Cas_Account_Tax_Owed_Pay_Date != null)
                                {
                                    @item.CR_Cas_Account_Tax_Owed_Pay_Date.Value.ToString("yyyy/MM/dd")
                                }

                            </td>
                            <td style=" color: red;">
                                @Html.DisplayFor(modelItem => item.CR_Cas_Account_Tax_Owed_Pay_No)
                            </td>

                        </tr>
                    }

                    n = n + 1;
                }
            }
        </tbody>
    </table>
</div>

<style>
    td {
        text-align: center
    }
</style>