@model RentCar.Models.CR_Cas_User_Validity_Contract

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_CASLayout.cshtml";
}
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 24px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 17px;
            width: 17px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #0ea60e;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #0ea60e;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(35px);
        -ms-transform: translateX(35px);
        transform: translateX(35px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .titre_div {
        margin: 0;
        padding-bottom: 7px;
        position: relative;
        border-bottom: 2px solid #ccc;
        display: inline-block;
        font-size: 20px;
        margin-bottom: 15px;
    }

        .titre_div:before {
            position: absolute;
            background: #FFCE94;
            height: 2px;
            content: '';
            width: 50px;
            bottom: -2px;
            right: 0;
        }

    .parsley-errors-list {
        width: 100%
    }
</style>

<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card-box table-responsive" style="height:79vh">
                    <div class="title_corp"><h3> المستخدمين / صلاحيات العقد / تحديث </h3></div>
                    <div class="subtitle_corp">تمكنك هذه الصفحة من تعديل صلاحيات العقد</div>
                    <div class="hr_60"></div>
                    <div class="hr_80"></div>
                    <div class="corp_page " style=" padding-top: 20px;">
                        <div class="page_content">

                            <form id="form_validation" action="/UserValidityContract/Create" enctype="multipart/form-data" method="post" data-parsley-validate="" novalidate="">
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label>إسم المستخدم</label>
                                        <div class="col-md-10">
                                            @Html.DropDownList("CR_Cas_User_Validity_Contract_User_Id",null, " ", htmlAttributes: new { @class = "form-control" })
                                            
                                        </div>
                                    </div>
                                </div>
                                @if (!string.IsNullOrEmpty(Model.CR_Cas_User_Validity_Contract_User_Id))
                                {
                                    <div class="form-horizontal">

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                        <div class="form-group" hidden>
                                            @Html.LabelFor(model => model.CR_Cas_User_Validity_Contract_Admin, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.CR_Cas_User_Validity_Contract_Admin, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.CR_Cas_User_Validity_Contract_Admin, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="titre_div"><label style="font-weight:700;color:royalblue">مستندات الشركة</label></div>
                                                <div class="row">
                                                    <label class="col-md-6">السجل التجاري</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Register" checked="@Model.CR_Cas_User_Validity_Contract_Register.GetValueOrDefault()">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">الغرفة التجارية</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Chamber_Commerce" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">تصريح هيئة النقل</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Transfer_Permission" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">رخصة البلدية</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Licence_Municipale" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">البريد الوطني</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Company_Address" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="titre_div"><label style="font-weight:700;color:royalblue">وثائق السيارة</label></div>
                                                <div class="row">
                                                    <label class="col-md-6">رخصة السير</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Traffic_License" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">وثيقة تأمين</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Insurance" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">بطاقة تشغيل</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Operating_Card" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">الفحص الدوري</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Chkec_Up" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="titre_div"><label style="font-weight:700;color:royalblue">صيانة السيارة</label></div>
                                                <div class="row">
                                                    <label class="col-md-6">صيانة الإطارات</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Tires" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">صيانة زيت المكينة</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Oil" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">الصيانة الدورية</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Maintenance" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">صيانة الفرامل الامامية</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_FBrake_Maintenance" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">صيانة الفرامل الخلفية</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_BBrake_Maintenance" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="titre_div"><label style="font-weight:700;color:royalblue">وثائق المستأجر و السائق</label></div>
                                                <div class="row">
                                                    <label class="col-md-6">صلاحيات الهوية</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Id" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">صلاحيات رخصة القيادة</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Driving_License" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">البريد</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Renter_Address" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">جهة العمل</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Employer" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="titre_div"><label style="font-weight:700;color:royalblue">ابرام العقد</label></div>
                                                <div class="row">
                                                    <label class="col-md-6">تمديد عقد</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Extension" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">التجاوز عن العمر</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Age" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">المقدم أقل من المستحق</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Open_Amout_Rate" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">نسبة الخصم</label>
                                                    <div class="col-md-3">
                                                        @Html.EditorFor(model => model.CR_Cas_User_Validity_Contract_Discount_Rate, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.CR_Cas_User_Validity_Contract_Discount_Rate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">زيادة عدد الكيلوات</label>
                                                    <div class="col-md-3">
                                                        @Html.EditorFor(model => model.CR_Cas_User_Validity_Contract_Km, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.CR_Cas_User_Validity_Contract_Km, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">زيادة عدد الساعات</label>
                                                    <div class="col-md-3">
                                                        @Html.EditorFor(model => model.CR_Cas_User_Validity_Contract_Hour, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.CR_Cas_User_Validity_Contract_Hour, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="titre_div"><label style="font-weight:700;color:royalblue">تسوية العقد</label></div>
                                                <div class="row">
                                                    <label class="col-md-6">إلغاء عقد</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Cancel" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">إنهاء عقد</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_End" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">إغلاق عقد</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Close" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-md-6">باقي العقد أقل من المستحق</label>
                                                    <div class="col-md-6">
                                                        <label class="switch">
                                                            <input type="checkbox" id="ch" name="CR_Cas_User_Validity_Contract_Close_Amount_Rate" checked="">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <!--modifier nom du champs-->
                                                <div class="row">
                                                    <label class="col-md-6">أعلى قيمة لتسوية العقد</label>
                                                    <div class="col-md-3">
                                                        @Html.EditorFor(model => model.CR_Cas_User_Validity_Contract_Discount_Rate, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.CR_Cas_User_Validity_Contract_Discount_Rate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <!--modifier nom du champs-->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-2">ملاحظات</label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.CR_Cas_User_Validity_Contract_Reasons, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.CR_Cas_User_Validity_Contract_Reasons, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:25px">

                                            <div class="col-md-6">
                                                <input type="submit" name="add" class="btn btn-primary waves-effect" id="add_btn" value="حفظ">
                                                <!--modifier nom du champs-->
                                                <input type="submit" name="" class="btn btn-primary waves-effect" id="" value="حذف">
                                                <!--modifier nom du champs-->
                                            </div>
                                            <div class="col-md-6">
                                                <a href="/UserValidityContract/Create" class="btn btn-primary waves-effect" style="float:left">انهاء</a>
                                            </div>
                                        </div>


                                        
                                        <div class="form-group" hidden>
                                            @Html.LabelFor(model => model.CR_Cas_User_Validity_Contract_Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.CR_Cas_User_Validity_Contract_Status, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.CR_Cas_User_Validity_Contract_Status, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                    </div>
                                }
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    
    $(function () {
        $("#CR_Cas_User_Validity_Contract_User_Id").change(function () {
            alert();
            var id = $("#CR_Cas_User_Validity_Contract_User_Id").val();
            if (id != null || id != "") {
                var url = '@Url.Action("create",new { id = "ss" })'.replace('ss', id);
                window.open(url, "_self");
            }
        });
    });   
</script>