@model RentCar.Models.CR_Cas_Sup_Conditions_Membership

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CASLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CR_Cas_Sup_Conditions_Membership</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Conditions_Membership_Insert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Conditions_Membership_Insert)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Conditions_Membership_KM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Conditions_Membership_KM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Conditions_Membership_Link_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Conditions_Membership_Link_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Conditions_Membership_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Conditions_Membership_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Conditions_Membership_Link_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Conditions_Membership_Link_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Conditions_Membership_Contract_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Conditions_Membership_Contract_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Conditions_Membership_Link_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Conditions_Membership_Link_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Conditions_Membership_Day_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Conditions_Membership_Day_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor.CR_Mas_Com_Lessor_Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor.CR_Mas_Com_Lessor_Logo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
