@model RentCar.Models.CR_Cas_Contract_Basic

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSys3Home.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CR_Cas_Contract_Basic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Owner_Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Owner_Branch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_is_Renter_Driver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_is_Renter_Driver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Driver_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Driver_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_is_Additional_Driver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_is_Additional_Driver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Additional_Driver_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Additional_Driver_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Start_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Start_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Start_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Start_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Expected_End_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Expected_End_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Expected_End_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Expected_End_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Expected_Rental_Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Expected_Rental_Days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Additional_Driver_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Additional_Driver_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Authorization_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Authorization_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Use_Within_Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Use_Within_Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_End_Authorization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_End_Authorization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_BasicAuthorization_Staus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_BasicAuthorization_Staus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_BasicAuthorization_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_BasicAuthorization_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Daily_Rent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Daily_Rent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Weekly_Rent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Weekly_Rent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Monthly_Rent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Monthly_Rent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_CurrentMeters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_CurrentMeters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Additional_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Additional_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Choices_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Choices_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Tax_Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Tax_Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_User_Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_User_Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Daily_Free_KM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Daily_Free_KM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Additional_KM_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Additional_KM_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Free_Additional_Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Free_Additional_Hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Hour_Max)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Hour_Max)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Extra_Hour_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Extra_Hour_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_is_Km_Open)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_is_Km_Open)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_is_Insurance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_is_Insurance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_is_Receiving_Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_is_Receiving_Branch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_is_Receiving_Renter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_is_Receiving_Renter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Discount_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Discount_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_After_Discount_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_After_Discount_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Tax_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Tax_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Net_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Net_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Payed_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Payed_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Previous_Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Previous_Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_User_Insert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_User_Insert)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Hour_DateTime_Alert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Hour_DateTime_Alert)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Hour_MsgNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Hour_MsgNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Day_DateTime_Alert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Day_DateTime_Alert)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Day_MsgNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Day_MsgNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_EndContract_MsgNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_EndContract_MsgNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Alert_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Alert_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_CreateContract_Pdf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_CreateContract_Pdf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_CloseContract_Pdf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_CloseContract_Pdf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Receiving_Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Receiving_Branch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Actual_Total_KM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Actual_Total_KM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Delivery_Reading_KM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Delivery_Reading_KM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Actual_Additional_Free_KM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Actual_Additional_Free_KM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Additional_Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Additional_Hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Actual_Extra_KM_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Actual_Extra_KM_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Actual_Extra_Hour_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Actual_Extra_Hour_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Contarct_is_Expenses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Contarct_is_Expenses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Contarct_Expenses_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Contarct_Expenses_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Contarct_Expenses_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Contarct_Expenses_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Contarct_is_Compensation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Contarct_is_Compensation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Contarct_Compensation_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Contarct_Compensation_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Contarct_Compensation_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Contarct_Compensation_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Close_Previous_Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Close_Previous_Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Contarct_Remaining_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Contarct_Remaining_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Statistics_Nationalities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Statistics_Nationalities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Statistics_Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Statistics_Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Statistics_Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Statistics_Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Statistics_Jobs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Statistics_Jobs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Statistics_Regions_Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Statistics_Regions_Branch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Statistics_City_Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Statistics_City_Branch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Statistics_Regions_Renter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Statistics_Regions_Renter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Statistics_City_Renter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Statistics_City_Renter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Statistics_Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Statistics_Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Statistics_Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Statistics_Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Statistics_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Statistics_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Statistics_Membership_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Statistics_Membership_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Statistics_Day_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Statistics_Day_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Statistics_Time_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Statistics_Time_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Statistics_Day_Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Statistics_Day_Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Statistics_Age_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Statistics_Age_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Statistics_Value_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Statistics_Value_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_Statistics_KM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_Statistics_KM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Contract_Basic_User_Close)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Contract_Basic_User_Close)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Car_Price_Basic.CR_Cas_Car_Price_Basic_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Car_Price_Basic.CR_Cas_Car_Price_Basic_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor.CR_Mas_Com_Lessor_Ar_Long_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor.CR_Mas_Com_Lessor_Ar_Long_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Sector.CR_Mas_Sup_Sector_Ar_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Sector.CR_Mas_Sup_Sector_Ar_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Renter_Information.CR_Mas_Renter_Information_Sector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Renter_Information.CR_Mas_Renter_Information_Sector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Information.CR_Cas_Sup_Car_Lessor_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Information.CR_Cas_Sup_Car_Lessor_Code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
