@model IEnumerable<RentCar.Models.CR_Cas_Contract_Basic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSys3.cshtml";
}

<div class="content">
    <!-- Start Content-->
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="card-box table-responsive mt-2" >
                    <div class="title_corp"><h3>بيانات العقود القائمة / عرض البيانات </h3></div>
                    <div class="subtitle_corp"> تمكنك الصفحة من عرض العقود القائمة و تمديدها</div>
                    <div class="hr_60"></div>
                    <div class="hr_80"></div>
                    <div class="corp_page">
                        <div class="page_content">
                            <form method="post">
                                <div class="form_bg" style="width:100%">

                                    <div class="responsive-table-plugin">
                                        <div class="table-rep-plugin">
                                            <div class="table-responsive" data-pattern="priority-columns" style="border:none;">
                                                <div class="href_layout" style="width:50%;float:right;margin-top:15px;margin-bottom:10px;">
                                                    <a href="/BranchHome/BranchStat" class="btn_form" data-toggle="tooltip" data-placement="top" title="إغلاق"><i class="fa fa-times"></i></a>
                                                    @*<a href="/CasBranch/Create" class="btn_form" data-toggle="tooltip" data-placement="top" title="إضافة سجل جديد"><i class="fa fa-plus"></i></a>*@
                                                    @*<button type="submit" name="excelCall" class="btn_form" value="Excel" style="padding-right:4px;" data-toggle="tooltip" data-placement="top" title="ترحيل البيانات للإكسل">
                                                            <i class="far fa-file-excel" aria-hidden="true" style=" margin-bottom: 3px; padding-left: 10px;"></i>
                                                        </button>*@

                                                    <script>
                                                        $(document).ready(function () {
                                                            $("#inputtext").on("keyup", function () {
                                                                var value = $(this).val().toLowerCase();
                                                                $("#tbl tr").filter(function () {
                                                                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                                                });
                                                            });
                                                        });
                                                    </script>
                                                </div>
                                                <div id="responsive-datatable_filter" class="dataTables_filter" style="        float: right;right: 0;width: 50%;margin-top: 15px;">
                                                    <label style="float: left;width: 100%; text-align: left;line-height:30px">
                                                        <img src="~/images/srch.png" id="SrchImg" />
                                                        بحث:<input type="search" id="inputtext" class="form-control" placeholder="" aria-controls="responsive-datatable" style=" float: left;width: 80%; text-align: right;margin-right: 10px;">
                                                    </label>
                                                </div>
                                                <div style="width: 100%; min-height: 50vh; overflow: auto;">
                                                    <table id="myTable" class="table table-striped mb-0" style="cursor:pointer">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:20%">
                                                                    رقم العقد
                                                                </th>
                                                                <th style="width:8%">
                                                                    المتبقي
                                                                </th>
                                                                <th style="width:25%">
                                                                    إسم المستأجر
                                                                </th>
                                                                <th style="width:40%">
                                                                    السيارة
                                                                </th>
                                                                <th style="width:6%">
                                                                    العقد
                                                                </th>
                                                                <th style="width:6%">
                                                                    الحالة
                                                                </th>


                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbl">
                                                            @foreach (var item in Model)
                                                            {
                                                                int copyNumber = item.CR_Cas_Contract_Basic_Copy;

                                                                if (item.CR_Cas_Contract_Basic_Status == "E")
                                                                {
                                                            <tr class="text-center">
                                                                <td style="width:20%">
                                                                    <a href="~/ContractSettlement/Create/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Contract_Basic_No)" style="color:red">
                                                                        @Html.DisplayFor(modelItem => item.CR_Cas_Contract_Basic_No)
                                                                        @{

                                                                            copyNumber = copyNumber - 1;
                                                                            if (copyNumber > 0)
                                                                            {
                                                                                <label style="float:left;color:red;">(@copyNumber)</label>
                                                                            }
                                                                            if (item.CR_Cas_Contract_Basic_is_Receiving_Branch == true)
                                                                            {
                                                                                <label style="float:left;color:red;" title="ممكن التسليم بفرع ثاني">*</label>
                                                                            }
                                                                        }

                                                                    </a>
                                                                </td>
                                                                <td style="width:8%">
                                                                    @{
                                                                        DateTime currentdate = DateTime.Now;
                                                                        DateTime enddate = (DateTime)item.CR_Cas_Contract_Basic_Expected_End_Date;

                                                                        var diff = (enddate - currentdate).TotalDays;
                                                                    }
                                                                    <label style="color:red">@String.Format("{0:#,##0}", diff)</label>
                                                                </td>

                                                                <td style="width:25%" class="text-left">
                                                                    <a href="~/ContractSettlement/Create/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Contract_Basic_No)" style="color:red">
                                                                        @*@Html.DisplayFor(modelItem => item.CR_Mas_Com_Lessor.CR_Cas_Renter_Lessor.FirstOrDefault(r=>r.CR_Cas_Renter_Lessor_Id==item.CR_Cas_Contract_Basic_Renter_Id).CR_Mas_Renter_Information.CR_Mas_Renter_Information_Ar_Name.ToString())*@
                                                                        @Html.DisplayFor(modelItem => item.CR_Mas_Renter_Information.CR_Mas_Renter_Information_Ar_Name)
                                                                    </a>
                                                                </td>


                                                                <td style="width:40%" class="text-left">
                                                                    <a href="~/ContractSettlement/Create/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Contract_Basic_No)" style="color:red">
                                                                        @Html.DisplayFor(modelItem => item.CR_Cas_Sup_Car_Information.CR_Cas_Sup_Car_Collect_Ar_Name)
                                                                    </a>
                                                                </td>


                                                                <td align="center" style="width:6%">
                                                                    <a href="~/ActiveContract/ShowPDF/?Cno=@Html.DisplayFor(modelItem => item.CR_Cas_Contract_Basic_No)" target="_blank" style="color:red">
                                                                        <i class="fas fa-file-pdf" style="color:red;"></i>
                                                                    </a>
                                                                </td>
                                                                <td align="center" style="width:6%">
                                                                    @if (item.CR_Cas_Contract_Basic_Status == "A")
                                                                    {
                                                                        <label style="color:red">نشط</label>
                                                                    }
                                                                    else if (item.CR_Cas_Contract_Basic_Status == "E")
                                                                    {
                                                                        <label style="color:red">منتهي</label>
                                                                    }
                                                                </td>
                                                            </tr>
                                                                }
                                                                else
                                                                {
                                                        <tr class="text-center">
                                                            <td style="width:20%">
                                                                <a href="~/ContractSettlement/Create/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Contract_Basic_No)">
                                                                    @Html.DisplayFor(modelItem => item.CR_Cas_Contract_Basic_No)
                                                                    @{

                                                                        copyNumber = copyNumber - 1;
                                                                        if (copyNumber > 0)
                                                                        {
                                                                            <label style="float:left;color:red;">(@copyNumber)</label>
                                                                        }
                                                                        if (item.CR_Cas_Contract_Basic_is_Receiving_Branch == true)
                                                                        {
                                                                            <label style="float:left;color:red;" title="ممكن التسليم بفرع ثاني">*</label>
                                                                        }
                                                                    }

                                                                </a>
                                                            </td>
                                                            <td style="width:8%">
                                                                @{
                                                                    DateTime currentdate = DateTime.Now;
                                                                    DateTime enddate = (DateTime)item.CR_Cas_Contract_Basic_Expected_End_Date;

                                                                    var diff = (enddate - currentdate).TotalDays;
                                                                }
                                                                <label>@String.Format("{0:#,##0}", diff)</label>
                                                            </td>

                                                            <td style="width:25%" class="text-left">
                                                                <a href="~/ContractSettlement/Create/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Contract_Basic_No)">
                                                                    @*@Html.DisplayFor(modelItem => item.CR_Mas_Com_Lessor.CR_Cas_Renter_Lessor.FirstOrDefault(r=>r.CR_Cas_Renter_Lessor_Id==item.CR_Cas_Contract_Basic_Renter_Id).CR_Mas_Renter_Information.CR_Mas_Renter_Information_Ar_Name.ToString())*@
                                                                    @Html.DisplayFor(modelItem => item.CR_Mas_Renter_Information.CR_Mas_Renter_Information_Ar_Name)
                                                                </a>
                                                            </td>


                                                            <td style="width:40%" class="text-left">
                                                                <a href="~/ContractSettlement/Create/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Contract_Basic_No)">
                                                                    @Html.DisplayFor(modelItem => item.CR_Cas_Sup_Car_Information.CR_Cas_Sup_Car_Collect_Ar_Name)
                                                                </a>
                                                            </td>


                                                            <td align="center" style="width:6%">
                                                                <a href="~/ActiveContract/ShowPDF/?Cno=@Html.DisplayFor(modelItem => item.CR_Cas_Contract_Basic_No)" target="_blank">
                                                                    <i class="fas fa-file-pdf" style="color:red;"></i>
                                                                </a>
                                                            </td>
                                                            <td align="center" style="width:6%">
                                                                @if (item.CR_Cas_Contract_Basic_Status == "A")
                                                                {
                                                                    <label>نشط</label>
                                                                }
                                                                else if (item.CR_Cas_Contract_Basic_Status == "E")
                                                                {
                                                                    <label>منتهي</label>
                                                                }
                                                            </td>
                                                        </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="dtBasicExample_print">

                                        <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
                                        <script>
                                            function printDiv() {
                                                window.frames["print_frame"].document.body.innerHTML = document.getElementById("dtBasicExample_print").innerHTML;
                                                window.frames["print_frame"].window.focus();
                                                window.frames["print_frame"].window.print();
                                            }
                                        </script>
                                        <script>
                                            $(document).ready(function () {
                                                $('#dtBasicExample').DataTable();
                                                $('.dataTables_length').addClass('bs-select');
                                            });
                                        </script>
                                        <script>
                                            function sortTable(n) {
                                                var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                                                table = document.getElementById("myTable");
                                                switching = true;
                                                // Set the sorting direction to ascending:
                                                dir = "asc";
                                                /* Make a loop that will continue until
                                                no switching has been done: */
                                                while (switching) {
                                                    // Start by saying: no switching is done:
                                                    switching = false;
                                                    rows = table.rows;
                                                    /* Loop through all table rows (except the
                                                    first, which contains table headers): */
                                                    for (i = 1; i < (rows.length - 1); i++) {
                                                        // Start by saying there should be no switching:
                                                        shouldSwitch = false;
                                                        /* Get the two elements you want to compare,
                                                        one from current row and one from the next: */
                                                        x = rows[i].getElementsByTagName("TD")[n];
                                                        y = rows[i + 1].getElementsByTagName("TD")[n];
                                                        /* Check if the two rows should switch place,
                                                        based on the direction, asc or desc: */
                                                        if (dir == "asc") {
                                                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                                                // If so, mark as a switch and break the loop:
                                                                shouldSwitch = true;
                                                                break;
                                                            }
                                                        } else if (dir == "desc") {
                                                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                                                // If so, mark as a switch and break the loop:
                                                                shouldSwitch = true;
                                                                break;
                                                            }
                                                        }
                                                    }
                                                    if (shouldSwitch) {
                                                        /* If a switch has been marked, make the switch
                                                        and mark that a switch has been done: */
                                                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                                                        switching = true;
                                                        // Each time a switch is done, increase this count by 1:
                                                        switchcount++;
                                                    } else {
                                                        /* If no switching has been done AND the direction is "asc",
                                                        set the direction to "desc" and run the while loop again. */
                                                        if (switchcount == 0 && dir == "asc") {
                                                            dir = "desc";
                                                            switching = true;
                                                        }
                                                    }
                                                }
                                            }
                                        </script>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- container-fluid -->
    <!-- validation init -->
    <script src="~/BSys3Styles/Js/vendor.min.js"></script>


    <script src="~/BSys3Styles/Js/parsley_ar.min.js"></script>
    <script src="~/BSys3Styles/Js/pages/form-validation.init.js"></script>
    <link href="~/Bootstrap_Arabic/bootstrap-big-grid.min.css" rel="stylesheet" />
    <link href="~/Bootstrap_Arabic/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/BSys3Styles/Js/app.min.js"></script>
</div>
<script type="text/javascript">
        window.addEventListener("load", function () {

            if ('@TempData["TempModel"]'!="") {
                toastr.success("تم الحفظ بنجاح");
            }

        });
</script>

@if (TempData["printCRCopy"] != null)
{
    <script>
            $(function() {

        window.open('@Url.Action("PDFFlyer", "BasicContract", new { p = TempData["printCRCopy"] })')
        });
    </script>

}


