@model RentCar.Models.CR_Cas_Sup_Branch

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CASLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CR_Cas_Sup_Branch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Ar_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Ar_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Ar_Short_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Ar_Short_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_En_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_En_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_En_Short_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_En_Short_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Fr_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Fr_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Fr_Short_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Fr_Short_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Commercial_Registration_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Commercial_Registration_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Government_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Government_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Tax_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Tax_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Stamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Stamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Signature_Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Signature_Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Signature_Ar_Director_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Signature_Ar_Director_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Signature_En_Director_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Signature_En_Director_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Signature_Fr_Director_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Signature_Fr_Director_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Start_Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Start_Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_End_Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_End_Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Duration_One_Start_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Duration_One_Start_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Duration_One_End_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Duration_One_End_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Duration_Tow_Start_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Duration_Tow_Start_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Duration_Tow_End_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Duration_Tow_End_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Duration_Three_Start_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Duration_Three_Start_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Duration_Three_End_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Duration_Three_End_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_LogoMap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_LogoMap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch_Reasons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch_Reasons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor.CR_Mas_Com_Lessor_Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor.CR_Mas_Com_Lessor_Logo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
