@model RentCar.Models.CR_Mas_Basic_Contract

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_CASLayout.cshtml";
}


<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card-box table-responsive" style="height:79vh">
                    <div class="title_corp"><h3>  الشركة /العقود /تحديث </h3></div>
                    <div class="subtitle_corp">تمكنك هذه الصفحة من تحديث بيانات العقود </div>
                    <div class="hr_60"></div>
                    <div class="hr_80"></div>
                    <div class="corp_page" style=" padding-top: 20px;">
                        <div class="page_content">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal" style="min-height:70%">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="row">
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="col-md-6 label6"> نوع العقد </label>
                                                    <div class="col-md-6 input6">
                                                        <input class="form-control text-box single-line" data-val="true" id="Name" name="Name" type="text" value="تم" readonly>
                                                    </div>
                                                    <div class="texterr"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="col-md-6 label6"> رقم العقد </label>
                                                    <div class="col-md-6 input6">
                                                        @Html.EditorFor(model => model.CR_Mas_Basic_Contract_No, new { htmlAttributes = new { @class = "form-control", oninput = "this.value=this.value.replace(/[^0-9]/g,'')" } })
                                                    </div>
                                                    <div class="texterr">@ViewBag.ContractNo</div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row" hidden>
                                        @*canceled by abu abdel malek*@
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="col-md-6 label6"> رقم المستند </label>
                                                    <div class="col-md-6 input6">
                                                        <input class="form-control text-box single-line" data-val="true" id="No" name="No" type="text" value="">
                                                    </div>
                                                    <div class="texterr"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="col-md-6 label6"> تاريخه </label>
                                                    <div class="col-md-6 input6">
                                                        <input class="form-control text-box single-line" data-val="true" data-val-date="The field CR_Cas_Sup_Branch_Documentation_Date must be a date."
                                                               id="ContractDate" name="ContractDate" type="date" value="">
                                                    </div>
                                                    <div class="texterr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @Html.HiddenFor(model => model.CR_Mas_Basic_Contract_Year, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.HiddenFor(model => model.CR_Mas_Basic_Contract_Lessor)
                                    @Html.HiddenFor(model => model.CR_Mas_Basic_Contract_Sector)
                                    @Html.HiddenFor(model => model.CR_Mas_Basic_Contract_Code, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.HiddenFor(model => model.CR_Mas_Basic_Contract_Com_Code, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.HiddenFor(model => model.CR_Mas_Basic_Contract_Status, new { htmlAttributes = new { @class = "form-control" } })
                                    <input type="text" id="ProcedureCode" name="ProcedureCode" hidden="hidden" value="@ViewBag.proc">
                                    <input type="text" id="BranchCode" name="BranchCode" hidden="hidden" value="@ViewBag.branch">
                                    <input type="text" id="ContractCode" name="ContractCode" hidden="hidden" value="@ViewBag.ContractCode">


                                    <div class="row">
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="col-md-6 label6">تاريخ العقد</label>
                                                    <div class="col-md-6 input6">
                                                        <input class="form-control text-box single-line hijri-date-input2" data-val="true" data-val-date="The field CR_Cas_Sup_Branch_Documentation_Date must be a date."
                                                               id="CR_Mas_Basic_Contract_Date" name="CR_Mas_Basic_Contract_Date" type="text" value="@ViewBag.DocDate">
                                                        <div class="texterr">@ViewBag.DocDateError</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">

                                                <div class="row">
                                                    <label class="col-md-6 label6">بدايته </label>
                                                    <div class="col-md-6 input6">
                                                        <input class="form-control text-box single-line hijri-date-input2" data-val="true" data-val-date="The field CR_Cas_Sup_Branch_Documentation_Date must be a date."
                                                               id="CR_Mas_Basic_Contract_Start_Date" name="CR_Mas_Basic_Contract_Start_Date" type="text" value="@ViewBag.StartDate">
                                                    </div>
                                                    <div class="texterr">@ViewBag.DocStartDateError</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="col-md-6 label6">نهايته </label>
                                                    <div class="col-md-6 input6">
                                                        <input class="form-control text-box single-line hijri-date-input2" data-val="true" data-val-date="The field CR_Cas_Sup_Branch_Documentation_Date must be a date."
                                                               id="CR_Mas_Basic_Contract_End_Date" name="CR_Mas_Basic_Contract_End_Date" type="text" value="@ViewBag.EndDate">
                                                    </div>
                                                    <div class="texterr">@ViewBag.DocEndDateError</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        @*canceled by abu abdel malek*@
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="col-md-6 label6">
                                                        @Html.LabelFor(model => model.CR_Mas_Basic_Contract_Annual_Fees, htmlAttributes: new { @class = "", style = "float:right;" })
                                                    </label>
                                                    <div class="col-md-6 input6">
                                                        @Html.EditorFor(model => model.CR_Mas_Basic_Contract_Annual_Fees, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                                    </div>
                                                    <div class="texterr">@ViewBag.DocEndDateError</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="col-md-6 label6">
                                                        @Html.LabelFor(model => model.CR_Mas_Basic_Contract_Tax_Rate, htmlAttributes: new { @class = "", style = "float:right;" })
                                                    </label>
                                                    <div class="col-md-6 input6">
                                                        @Html.EditorFor(model => model.CR_Mas_Basic_Contract_Tax_Rate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                                        <div class="texterr">@ViewBag.DocDateError</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12" hidden>
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="col-md-6 label6">رسم الخدمة</label>
                                                    <div class="col-md-6 input6">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                    <div class="texterr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" hidden>
                                        @*canceled by abu abdel malek*@
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    @Html.LabelFor(model => model.CR_Mas_Basic_Contract_Discount_Rate, htmlAttributes: new { @class = "col-md-6 label6", style = "float:right;" })
                                                    <div class="col-md-6 input6">
                                                        @Html.EditorFor(model => model.CR_Mas_Basic_Contract_Discount_Rate, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                    <div class="texterr">@ViewBag.DocStartDateError</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="col-md-6 label6">
                                                        @Html.LabelFor(model => model.CR_Mas_Basic_Contract_Tax_Rate, htmlAttributes: new { @class = "", style = "float:right;" })
                                                    </label>
                                                    <div class="col-md-6 input6">
                                                        @Html.EditorFor(model => model.CR_Mas_Basic_Contract_Tax_Rate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                                        <div class="texterr">@ViewBag.DocDateError</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    @Html.LabelFor(model => model.CR_Mas_Basic_Contract_Tamm_User_PassWord, htmlAttributes: new { @class = "col-md-6 label6", style = "" })
                                                    <div class="col-md-6 input6">
                                                        @Html.EditorFor(model => model.CR_Mas_Basic_Contract_Tamm_User_PassWord, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                                    </div>
                                                    <div class="texterr"></div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="col-md-6 label6">
                                                        @Html.LabelFor(model => model.CR_Mas_Basic_Contract_Tamm_User_Id, htmlAttributes: new { @class = "", style = "float:right;" })
                                                    </label>
                                                    <div class="col-md-6 input6">
                                                        @Html.EditorFor(model => model.CR_Mas_Basic_Contract_Tamm_User_Id, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                                    </div>
                                                    <div class="texterr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" hidden>
                                        @*canceled by abu abdel malek*@
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="col-md-6 label6">طريقة الدفع</label>
                                                    <div class="col-md-6 input6">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                    <div class="texterr"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="col-md-6 label6"> البنك</label>
                                                    <div class="col-md-6 input6">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                    <div class="texterr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    @Html.LabelFor(model => model.CR_Mas_Basic_Contract_Reasons, htmlAttributes: new { @class = "col-md-3", style = "float:right;" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.CR_Mas_Basic_Contract_Reasons, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                                    </div>
                                                    <div class="texterr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div>
                                        @{
                                            Html.RenderAction("TammFees");
                                        }
                                    </div>


                                </div>



                                <div class="row">

                                    <div class="col-md-6 col-70">


                                        @if (ViewBag.Status == "D")
                                        {
                                            <input type="submit" name="save" value="حفظ" class="btn btn-primary waves-effect" style="float: right;margin-right:10px;cursor:no-drop;" onclick="javascript:return false;" disabled />
                                            <input type="button" name="delete" class="btn btn-primary waves-effect" id="btn-confirm" value="@ViewBag.stat" style="margin-right: 20px; " />
                                        }
                                        else if (ViewBag.Status == "N" || ViewBag.Status == "X" || ViewBag.Status == "X")
                                        {

                                            <input type="submit" name="save" value="حفظ" class="btn btn-primary waves-effect" style="float: right;margin-right:10px;"  />

                                            <input type="button" name="delete" class="btn btn-primary waves-effect" id="btn-confirm" value="@ViewBag.stat" style="margin-right: 20px; cursor:no-drop;" onclick="javascript:return false;" disabled />
                                        }
                                        else if (ViewBag.Status == "A")
                                        {
                                            <input type="submit" name="save" value="حفظ" class="btn btn-primary waves-effect" style="float: right;margin-right:10px;cursor:no-drop;" onclick="javascript:return false;" disabled />
                                            <input type="button" name="delete" class="btn btn-primary waves-effect" id="btn-confirm" value="@ViewBag.stat" style="margin-right: 20px;" />
                                        }

                                        else
                                        {
                                            if (ViewBag.R == "R")
                                            {
                                                <input type="submit" name="save" value="حفظ" class="btn btn-primary waves-effect" style="float: right;margin-right:10px;cursor:no-drop;" onclick="javascript:return false;" disabled />
                                            }
                                            else
                                            {
                                                <input type="submit" name="save" value="حفظ" class="btn btn-primary waves-effect" style="float: right;margin-right:10px;" />
                                            }
                                            <input type="button" name="delete" class="btn btn-primary waves-effect" id="btn-confirm" value="@ViewBag.stat" style="margin-right: 20px;" />
                                        }

                                    </div>
                                    <div class="col-md-6 col-30">
                                        <a href="/CasDocumentationContract/Index/" class="btn btn-primary waves-effect" style="float:left">انهاء</a>
                                    </div>
                                    <div class="col-md-6" id="Message" style="font-family:'Times New Roman';font-size:16px;color:red;margin-Top: 30px; margin-right: 330px;position:absolute;">@TempData["TempModel"]</div>
                                </div>



                                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal" style="margin-top:17%;">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel" style=" margin-right: 10%;color:red;">هل أنت متأكد من الحذف</h4>
                                            </div>
                                            <div class="modal-footer">
                                                @if (ViewBag.delete == "D")
                                                {
                                                    <input type="submit" name="delete" class="btn btn-primary waves-effect" value="@ViewBag.stat" id="modal-btn-si" style="float:right;width:80px;height:40px;font:bold 14px Tahoma;margin-left:110px;color:white;background-color:#5cb85c;" />
                                                }
                                                else
                                                {
                                                    <input type="submit" name="delete" class="btn btn-primary waves-effect" value="@ViewBag.stat" id="modal-btn-si" style="float:right;width:80px;height:40px;font:bold 14px Tahoma;margin-left:110px;color:white;background-color:#d9534f;" />
                                                }
                                                <button type="button" class="btn btn-primary" id="modal-btn-no" style="float: left;width: 80px;height: 40px;font: bold 14px Tahoma">إلغاء</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        window.addEventListener("load", function () {

            if ('@TempData["TempModel"]'!="") {
                toastr.success("تم الحفظ بنجاح");
            }

        });
</script>