@model RentCar.Models.CR_Cas_User_Information

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_CASLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CR_Cas_User_Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_User_Information_PassWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_User_Information_PassWord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_User_Information_Auth_Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_User_Information_Auth_Branch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_User_Information_Auth_System)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_User_Information_Auth_System)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_User_Information_Branch_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_User_Information_Branch_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_User_Information_Ar_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_User_Information_Ar_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_User_Information_En_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_User_Information_En_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_User_Information_Fr_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_User_Information_Fr_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_User_Information_Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_User_Information_Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_User_Information_Signature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_User_Information_Signature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_User_Information_Emaile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_User_Information_Emaile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_User_Information_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_User_Information_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_User_Information_Reasons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_User_Information_Reasons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor.CR_Mas_Com_Lessor_Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor.CR_Mas_Com_Lessor_Logo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
