@model RentCar.Models.CR_Cas_Administrative_Procedures

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CASLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CR_Cas_Administrative_Procedures</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Administrative_Procedures_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Administrative_Procedures_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Administrative_Procedures_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Administrative_Procedures_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Administrative_Procedures_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Administrative_Procedures_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Administrative_Procedures_Sector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Administrative_Procedures_Sector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Administrative_Procedures_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Administrative_Procedures_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Administrative_Int_Procedures_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Administrative_Int_Procedures_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Administrative_Procedures_Lessor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Administrative_Procedures_Lessor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Administrative_Procedures_Targeted_Action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Administrative_Procedures_Targeted_Action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Administrative_Procedures_Com_Supporting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Administrative_Procedures_Com_Supporting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Administrative_Procedures_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Administrative_Procedures_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Administrative_Procedures_Doc_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Administrative_Procedures_Doc_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Administrative_Procedures_Doc_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Administrative_Procedures_Doc_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Administrative_Procedures_Doc_Start_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Administrative_Procedures_Doc_Start_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Administrative_Procedures_Doc_End_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Administrative_Procedures_Doc_End_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Administrative_Procedures_From_Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Administrative_Procedures_From_Branch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Administrative_Procedures_To_Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Administrative_Procedures_To_Branch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Administrative_Procedures_Action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Administrative_Procedures_Action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Administrative_Procedures_User_Insert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Administrative_Procedures_User_Insert)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Administrative_Procedures_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Administrative_Procedures_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Administrative_Procedures_Reasons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Administrative_Procedures_Reasons)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CR_Cas_Administrative_Procedures_No }) |
    @Html.ActionLink("Back to List", "Index")
</p>
