@model IEnumerable<RentCar.Models.CAS.TracingModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CASLayout.cshtml";
}


<div class="content">
    <!-- Start Content-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card-box table-responsive" style="height:79vh;overflow:auto">
                    <div class="title_corp"><h3> الحسابات / تسديد القيمة المضافة / عرض البيانات </h3></div>
                    <div class="subtitle_corp"> تمكنك الصفحة من عرض و البحث عن بيانات تسديد القيمة المضافة للعقود و إلغائها</div>
                    <div class="hr_60"></div>
                    <div class="hr_80"></div>
                    <div class="corp_page">
                        <div class="page_content">
                            <form method="post">
                                <div class="form_bg" style="width:100%">

                                    <div class="responsive-table-plugin">
                                        <div class="table-rep-plugin">
                                            <div class="table-responsive" data-pattern="priority-columns" style="border:none;">
                                                <div class="href_layout mb-3">
                                                    <a href="/CasHome/index" class="btn_form" data-toggle="tooltip" data-placement="top" title="إغلاق"><i class="fa fa-times"></i></a>
                                                    <a href="/PayTaxes/Create" class="btn_form" data-toggle="tooltip" data-placement="top" title="إضافة سجل جديد"><i class="fa fa-plus"></i></a>

                                                    <script>
                                                        $(document).ready(function () {
                                                            $("#inputtext").on("keyup", function () {
                                                                var value = $(this).val().toLowerCase();
                                                                $("#tbl tr").filter(function () {
                                                                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                                                });
                                                            });
                                                        });
                                                    </script>
                                                </div>
                                                <div id="responsive-datatable_filter" class="dataTables_filter">
                                                    <label class="label_search_input">
                                                        <img src="~/images/srch.png" id="SrchImg" />
                                                        بحث:<input type="search" id="inputtext href_layout" class="form-control form_search_input" placeholder="" aria-controls="responsive-datatable" style="width:43%">
                                                    </label>

                                                </div>

                                                <div class="table-rep-plugin" id="TableDiv">
                                                    <table id="myTable" class="table table-striped mb-0" style="cursor:default;">
                                                        <thead style="overflow-y: scroll; flex-grow: 1;">
                                                            <tr>
                                                                <th style="width:5%">
                                                                    م
                                                                </th>
                                                                <th style="width:15%">
                                                                   رقم التسديد
                                                                </th>
                                                                <th style="width:11%">
                                                                   تاريخ التسديد
                                                                </th>
                                                                <th style="width:9%">
                                                                    القيمة
                                                                </th>
                                                                <th style="width:10%">
                                                                    عدد العقود
                                                                </th>
                                                                <th style="width:15%">
                                                                    المنفذ
                                                                </th>
                                                                <th>
                                                                    الملاحظات
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbl">
                                                            @{
                                                                int n = 1;
                                                                foreach (var item in Model)
                                                                {
                                                                    <tr>
                                                                        <td style="width:5%">
                                                                            <a href="~/PayTaxes/edit/?id=@Html.DisplayFor(modelItem => item.CR_Cas_Administrative_Procedures_No)">
                                                                                @n
                                                                            </a>
                                                                        </td>
                                                                        <td style="width:15%">
                                                                            <a href="~/PayTaxes/edit/?id=@Html.DisplayFor(modelItem => item.CR_Cas_Administrative_Procedures_No)">
                                                                                @Html.DisplayFor(modelItem => item.CR_Cas_Administrative_Procedures_No)
                                                                            </a>
                                                                        </td>
                                                                        <td style="width:11%">
                                                                            <a href="~/PayTaxes/edit/?id=@Html.DisplayFor(modelItem => item.CR_Cas_Administrative_Procedures_No)">
                                                                                @item.CR_Cas_Administrative_Procedures_Date.Value.ToString("yyyy/MM/dd")
                                                                            </a>
                                                                        </td>
                                                                        <td style="width:9%">
                                                                            <a href="~/PayTaxes/edit/?id=@Html.DisplayFor(modelItem => item.CR_Cas_Administrative_Procedures_No)">
                                                                                @Html.DisplayFor(modelItem => item.CR_Cas_Administrative_Procedures_Value)
                                                                            </a>
                                                                        </td>
                                                                        <td style="width:10%">
                                                                            <a href="~/PayTaxes/edit/?id=@Html.DisplayFor(modelItem => item.CR_Cas_Administrative_Procedures_No)">
                                                                                @Html.DisplayFor(modelItem => item.ContractNo)
                                                                            </a>
                                                                        </td>
                                                                        <td style="width:15%">
                                                                            <a href="~/PayTaxes/edit/?id=@Html.DisplayFor(modelItem => item.CR_Cas_Administrative_Procedures_No)">
                                                                                @Html.DisplayFor(modelItem => item.UserName)
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="~/PayTaxes/edit/?id=@Html.DisplayFor(modelItem => item.CR_Cas_Administrative_Procedures_No)">
                                                                                @Html.DisplayFor(modelItem => item.CR_Cas_Administrative_Procedures_Reasons)
                                                                                </a>
                                                                        </td>
                                                                       
                                                                    </tr>
                                                                    n = n + 1;
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="dtBasicExample_print">

                                        <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
                                        <script>
                                            function printDiv() {
                                                window.frames["print_frame"].document.body.innerHTML = document.getElementById("dtBasicExample_print").innerHTML;
                                                window.frames["print_frame"].window.focus();
                                                window.frames["print_frame"].window.print();
                                            }
                                        </script>
                                        <script>
                                            $(document).ready(function () {
                                                $('#dtBasicExample').DataTable();
                                                $('.dataTables_length').addClass('bs-select');
                                            });
                                        </script>
                                        <script>
                                            function sortTable(n) {
                                                var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                                                table = document.getElementById("myTable");
                                                switching = true;
                                                // Set the sorting direction to ascending:
                                                dir = "asc";
                                                /* Make a loop that will continue until
                                                no switching has been done: */
                                                while (switching) {
                                                    // Start by saying: no switching is done:
                                                    switching = false;
                                                    rows = table.rows;
                                                    /* Loop through all table rows (except the
                                                    first, which contains table headers): */
                                                    for (i = 1; i < (rows.length - 1); i++) {
                                                        // Start by saying there should be no switching:
                                                        shouldSwitch = false;
                                                        /* Get the two elements you want to compare,
                                                        one from current row and one from the next: */
                                                        x = rows[i].getElementsByTagName("TD")[n];
                                                        y = rows[i + 1].getElementsByTagName("TD")[n];
                                                        /* Check if the two rows should switch place,
                                                        based on the direction, asc or desc: */
                                                        if (dir == "asc") {
                                                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                                                // If so, mark as a switch and break the loop:
                                                                shouldSwitch = true;
                                                                break;
                                                            }
                                                        } else if (dir == "desc") {
                                                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                                                // If so, mark as a switch and break the loop:
                                                                shouldSwitch = true;
                                                                break;
                                                            }
                                                        }
                                                    }
                                                    if (shouldSwitch) {
                                                        /* If a switch has been marked, make the switch
                                                        and mark that a switch has been done: */
                                                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                                                        switching = true;
                                                        // Each time a switch is done, increase this count by 1:
                                                        switchcount++;
                                                    } else {
                                                        /* If no switching has been done AND the direction is "asc",
                                                        set the direction to "desc" and run the while loop again. */
                                                        if (switchcount == 0 && dir == "asc") {
                                                            dir = "desc";
                                                            switching = true;
                                                        }
                                                    }
                                                }
                                            }
                                        </script>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- container-fluid -->
    <script type="text/javascript">
        window.addEventListener("load", function () {

            if ('@TempData["TempModel"]' == "Saved") {

                toastr.success("تم التعديل بنجاح");
            }
            if ('@TempData["TempModel"]'=="Holded") {
                toastr.success("تم الحضر بنجاح");
            }

            if ('@TempData["TempModel"]'=="Deleted") {
                toastr.success("تم الحذف بنجاح");
            }

            if ('@TempData["TempModel"]'=="Activated") {
                toastr.success("تم التنشيط بنجاح");
            }
            if ('@TempData["TempModel"]' == "Error") {

                toastr.warning("نأسف لعدم نجاح عملية التعديل, الرجاء التواصل مع المطور");
            }


        });



    </script>
</div> <!-- content -->
<style>
    td{
        text-align:center;
    }
</style>