@model IEnumerable<RentCar.Models.MAS.MasTracingMD>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Bootstrap_Arabic/bootstrap.min.css" rel="stylesheet" />
<link href="~/Bootstrap_Arabic/bootstrap-big-grid.min.css" rel="stylesheet" />
<link href="~/Bootstrap_Arabic/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
<link href="~/Bootstrap_Arabic/font-awesome.css" type="text/css" rel="stylesheet" />
<script src="~/Bootstrap_Arabic/jquery-v1.11.2.js"></script>
<script src="~/Bootstrap_Arabic/bootstrap.min.js"></script>
<script src="~/Bootstrap_Arabic/bootstrap.min.js"></script>
<script src="~/Bootstrap_Arabic/jquery.dataTables.min.js"></script>
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569818907/jquery.table2excel.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    #inputtext {
        width: 250px;
        height: 30px;
        margin-right: 293px;
        margin-left: -5px;
        float: left;
        margin-top: 5px;
        border-color: #4A80B3;
        border-radius: unset;
    }

    #SrchImg {
        float: left;
        margin-top: -5px;
        margin-left: 0px;
        margin-right: -35px;
        position: relative;
    }

    td {
        font-family: 'Times New Roman';
        font-size: 14px;
        padding: 5px 4px !important;
        font-weight: 100;
        color: #73A0C1;
    }

    th {
        font-family: 'Times New Roman';
        font-size: 16px;
        font-weight: bold;
        border-color: #4A80B3;
        cursor: pointer;
    }

    .title_corp {
        margin-top: -15px;
    }

    .table thead {
        overflow-y: scroll;
        flex-grow: 1;
        border-color: #4A80B3;
    }

    .table tr a {
        text-decoration: none;
        color: black !important;
    }

    .table td {
        border-color: #4A80B3;
        color: #083555;
    }

    .table thead th {
        color: #124f77;
        border-color: #4A80B3;
        text-align: center;
        background: #D1EAFA;
        position: sticky;
        top: 0;
    }

    .title_corp {
        font-family: 'Times New Roman';
        font-size: 25px;
    }

    .subtitle_corp {
        padding-top: 3px !important;
        font-family: 'Times New Roman' !important;
        color: #083555;
    }
</style>
<div class="corp_content">
    <div class="title_corp">  العقود / تسديد مستحقات بنان /عرض البيانات </div>
    <div class="subtitle_corp"> تمكنك الصفحة من البحث و الإطلاع على عقود الشركات و عرض  و تسديد المستحقات على الشركات</div>
    <div class="hr_60"></div>
    <div class="hr_80"></div>
    <div class="corp_page">
        <div class="page_content">
            <form method="post">
                <div class="form_bg">
                    <div class="href_layout" style="margin-bottom:7px!important;">
                        <a href="/Home/index" class="btn_form"><i class="fa fa-times" title="إغلاق"></i></a>
                        <a href="/MasPayTaxes/Create" class="btn_form"><i class="fa fa-plus" title="إضافة سجل جديد"></i></a>
                        <img src="~/images/srch.png" id="SrchImg" />
                        <input class="form-control" type="text" id="inputtext" name="TxtSearch" placeholder="بحث..." />
                        <script>
                            $(document).ready(function () {
                                $("#inputtext").on("keyup", function () {
                                    var value = $(this).val().toLowerCase();
                                    $("#tbl tr").filter(function () {
                                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                    });
                                });
                            });
                        </script>
                    </div>
                    <div class="table-responsive" style="width:99%; height:373px; overflow:auto;border: 1px solid #4A80B3;">
                        <div id="dtBasicExample_print">
                            <table class="table table-bordered table-striped " id="myTable">
                                <thead>
                                    <tr>
                                        <th width="20%">
                                            رقم التسديد
                                        </th>
                                        <th width="10%">
                                            تاريخ التسديد
                                        </th>
                                        <th>
                                            إسم الشركة
                                        </th>
                                        <th width="20%">
                                            رقم العقد
                                        </th>
                                        <th width="10%">
                                            القيمة
                                        </th>
                                        <th width="10%">
                                            عدد العقود
                                        </th>
                                        <th width="10%">
                                            المنفذ
                                        </th>
                                        <th width="10%">
                                            الملاحظات
                                        </th>

                                    </tr>
                                </thead>
                                <tbody id="tbl">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                
                                                    @Html.DisplayFor(modelItem => item.CR_Cas_Administrative_Procedures_No)
                                                
                                            </td>
                                            <td>
                                               
                                                    @item.CR_Cas_Administrative_Procedures_Date.Value.ToString("yyyy/MM/dd")
                                                
                                            </td>
                                            <td>
                                                
                                                     @item.CompanyName
                                                
                                            </td>
                                            <td>
                                               
                                                    @item.CR_Cas_Administrative_Procedures_Targeted_Action
                                                
                                            </td>
                                            <td>
                                                
                                                    @item.CR_Cas_Administrative_Procedures_Value
                                                
                                            </td>
                                            <td>
                                               
                                                    @item.ContractNumber
                                                
                                            </td>
                                            <td>
                                               
                                                    @item.UserName
                                                
                                            </td>
                                            <td>
                                                @*<a href="~/CompanyContractTaxOwed/details/@Html.DisplayFor(modelItem => item.CR_Cas_Administrative_Procedures_No)">
                                                    @item.CR_Cas_Administrative_Procedures_Reasons
                                                </a>*@
                                                @item.CR_Cas_Administrative_Procedures_Reasons
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

