@model RentCar.Models.CR_Cas_Sup_Follow_Up_Mechanism

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_CASLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CR_Cas_Sup_Follow_Up_Mechanism</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Follow_Up_Mechanism_Activate_Service)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Follow_Up_Mechanism_Activate_Service)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Follow_Up_Mechanism_Befor_Credit_Limit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Follow_Up_Mechanism_Befor_Credit_Limit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Follow_Up_Mechanism_Befor_Expire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Follow_Up_Mechanism_Befor_Expire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Follow_Up_Mechanism_Befor_KM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Follow_Up_Mechanism_Befor_KM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Follow_Up_Mechanism_After_Expire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Follow_Up_Mechanism_After_Expire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Follow_Up_Mechanism_Default_KM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Follow_Up_Mechanism_Default_KM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Procedures_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Procedures_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor.CR_Mas_Com_Lessor_Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor.CR_Mas_Com_Lessor_Logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Procedures.CR_Mas_Sup_Procedures_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Procedures.CR_Mas_Sup_Procedures_Type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
