@model RentCar.Models.CR_Mas_Com_Lessor

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CR_Mas_Com_Lessor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Ar_Long_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Ar_Long_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Ar_Short_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Ar_Short_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_En_Long_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_En_Long_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_En_Short_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_En_Short_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Fr_Long_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Fr_Long_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Fr_Short_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Fr_Short_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Location_Coordinates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Location_Coordinates)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Commercial_Registration_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Commercial_Registration_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Sector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Sector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Government_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Government_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Tax_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Tax_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Communication_Ar_Officer_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Communication_Ar_Officer_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Communication_En_Officer_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Communication_En_Officer_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Communication_Fr_Officer_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Communication_Fr_Officer_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor__Communication_Officer_Emaile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor__Communication_Officer_Emaile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Communication_Officer_Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Communication_Officer_Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Tolk_Free)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Tolk_Free)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Twiter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Twiter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_FaceBook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_FaceBook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Instagram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Instagram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Stamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Stamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Signature_Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Signature_Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Signature_Ar_Director_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Signature_Ar_Director_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Signature_En_Director_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Signature_En_Director_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Signature_Fr_Director_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Signature_Fr_Director_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor_Reasons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor_Reasons)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
