@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CASLayout.cshtml";
}
<style>
    label {
        float: none
    }

    .radio_top {
        float: left;
        margin-right: 10px;
        line-height:0.8
    }
</style>
<div class="content">
    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">

                <div class="card-box table-responsive" style="height:79vh">
                    <div class="title_corp"><h3> السيارات / بيانات السيارات/عرض البيانات</h3></div>
                    <div class="subtitle_corp">تمكنك هذه الصفحة من البحث و إضافة وتعديل بيانات السيارة</div>
                    <div class="hr_60"></div>
                    <div class="hr_80"></div>
                    <div class="corp_page">
                        <div class="page_content">
                            <form method="post">
                                <div class="form_bg">
                                    <div class="href_layout">
                                        <a href="/CasHome/index" class="btn_form"><i class="fa fa-times" title="إغلاق"></i></a>
                                        <a href="/CasCarInformation/Create" class="btn_form"><i class="fa fa-plus" title="إضافة سجل جديد"></i></a>
                                        @*<input type="submit" name="excelCall" title="ترحيل البيانات للإكسل" class="btn_form btn_exel" value="Excel" style="padding-right:4px;" />*@
                                        @*<button type="submit" name="excelCall" title="ترحيل البيانات للإكسل" class="btn_form" value="Excel" style="padding-right:4px;">
                                            <i class="fa fa-file-excel-o" aria-hidden="true" style=" margin-bottom: 3px; padding-left: 10px;"></i>
                                        </button>
                                        <a href="" class="btn_form" title="طباعة" onclick="printDiv()" style=""><i class="fa fa-print"></i></a>*@
                                        @*<a href="" class="btn_form" title="بحث متقدم" onclick="javascript:return false;" style=""><i class='fa fa-search'></i></a>*@
                                    </div>
                                    <div class="dataTables_filter">
                                        <label class="label_search_input">
                                            <img src="~/images/srch.png" id="SrchImg" />
                                            بحث:<input class="form-control form_search_input" type="text" id="inputtext" name="TxtSearch" style="width:84%"/>
                                        </label>
                                    </div>
                                    

                                    <div class="row" style="width:100%;min-height:20px">
                                        <div class="col-md-5" style="float:right">

                                        </div>
                                        <div class="col-md-7" style="float:right">
                                            <div class="">
                                                <div class="radio_top">
                                                    <input type="radio" id="ShowSelled" name="Show" onclick="LoadData();GetFilter()" style="float:right;margin-left:4px;width:13px;height:13px;">
                                                    <label for="javascript" style="float: left; font-size: 0.75rem">مباعة</label>
                                                </div>
                                                <div class="radio_top">
                                                    <input type="radio" id="ShowForSale" name="Show" onclick="LoadData();GetFilter()" style="float:right;margin-left:4px;width:13px;height:13px;">
                                                    <label for="javascript" style="float: left; font-size: 0.75rem">للبيع</label>
                                                </div>
                                                <div class="radio_top">
                                                    <input type="radio" id="ShowMaintenance" name="Show" onclick="LoadData();GetFilter()" style="float:right;margin-left:4px;width:13px;height:13px;">
                                                    <label for="javascript" style="float: left; font-size: 0.75rem">صيانة</label>
                                                </div>
                                                <div class="radio_top">
                                                    <input type="radio" id="ShowRented" name="Show" onclick="LoadData();GetFilter()" style="float:right;margin-left:4px;width:13px;height:13px;">
                                                    <label for="javascript" style="float:left;font-size:0.75rem">مؤجرة</label>
                                                </div>
                                                <div class="radio_top">
                                                    <input type="radio" id="ShowDeleted" name="Show" onclick="LoadData();GetFilter()" style="float:right;margin-left:4px;width:13px;height:13px;">
                                                    <label for="javascript" style="float: left; font-size: 0.75rem">محذوف</label>
                                                </div>
                                                <div class="radio_top">
                                                    <input type="radio" id="ShowHolded" name="Show" onclick="LoadData();GetFilter()" style="float:right;margin-left:4px;width:13px;height:13px;;">
                                                    <label for="javascript" style="float: left; font-size: 0.75rem">موقوف</label>
                                                </div>
                                                <div class="radio_top">
                                                    <input type="radio" id="ShowActive" name="Show" onclick="LoadData();GetFilter()" style="float:right;margin-left:4px;width:13px;height:13px;">
                                                    <label for="css" style="float: left; font-size: 0.75rem">نشط</label>
                                                </div>
                                                <div class="radio_top">
                                                    <input type="radio" id="ShowAll" name="Show" onclick="LoadData();GetFilter()" style="float:right;margin-left:4px;width:13px;height:13px;">
                                                    <label for="html" style="float: left; font-size: 0.75rem">الكل</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div id="Table">
                                        @{
                                            Html.RenderAction("PartialIndex");
                                        }

                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        window.addEventListener("load", function () {

            if ('@TempData["TempModel"]' == "Saved") {

                toastr.success("تم التعديل بنجاح");
            }
            if ('@TempData["TempModel"]'=="Holded") {
                toastr.success("تم التعطيل بنجاح");
            }

            if ('@TempData["TempModel"]'=="Deleted") {
                toastr.success("تم الحذف بنجاح");
            }

            if ('@TempData["TempModel"]'=="Activated") {
                toastr.success("تم التنشيط بنجاح");
            }
            if ('@TempData["TempModel"]' == "Error") {

                toastr.warning("نأسف لعدم نجاح عملية التعديل, الرجاء التواصل مع المطور");
            }


        });





        function GetFilter() {

            if (document.getElementById('ShowRented').checked) {
                $.ajax({
                    url: '@Url.Action("PartialIndex", "CasCarInformation")',
                    type: "POST",
                    data: { type: "R" },
                    success: function (data) {
                       // $('.spinner').css('display', 'block');
                        $('#Table').html(data);
                        $('#preloader').css('display', 'none');
                    }
                });
            } else if (document.getElementById('ShowAll').checked) {

                $.ajax({
                    url: '@Url.Action("PartialIndex", "CasCarInformation")',
                    type: "POST",
                    data: { type: "All" },
                    success: function (data) {
                       // $('.spinner').css('display', 'block');
                        $('#Table').html(data);
                        $('#preloader').css('display', 'none');
                    }
                });
            } else if (document.getElementById('ShowDeleted').checked) {

                $.ajax({
                    url: '@Url.Action("PartialIndex", "CasCarInformation")',
                    type: "POST",
                    data: { type: "D" },
                    success: function (data) {
                       // $('.spinner').css('display', 'block');
                        $('#Table').html(data);
                        $('#preloader').css('display', 'none');
                    }
                });
            } else if (document.getElementById('ShowHolded').checked) {

                $.ajax({
                    url: '@Url.Action("PartialIndex", "CasCarInformation")',
                    type: "POST",
                    data: { type: "H" },
                    success: function (data) {
                       // $('.spinner').css('display', 'block');
                        $('#Table').html(data);
                        $('#preloader').css('display', 'none');
                    }
                });
            } else if (document.getElementById('ShowMaintenance').checked) {

                $.ajax({
                    url: '@Url.Action("PartialIndex", "CasCarInformation")',
                    type: "POST",
                    data: { type: "M" },
                    success: function (data) {
                       // $('.spinner').css('display', 'block');
                        $('#Table').html(data);
                        $('#preloader').css('display', 'none');
                    }
                });
            }else if (document.getElementById('ShowForSale').checked) {

                $.ajax({
                    url: '@Url.Action("PartialIndex", "CasCarInformation")',
                    type: "POST",
                    data: { type: "O" },
                    success: function (data) {
                       // $('.spinner').css('display', 'block');
                        $('#Table').html(data);
                        $('#preloader').css('display', 'none');
                    }
                });
            }else if (document.getElementById('ShowSelled').checked) {

                $.ajax({
                    url: '@Url.Action("PartialIndex", "CasCarInformation")',
                    type: "POST",
                    data: { type: "S" },
                    success: function (data) {
                       // $('.spinner').css('display', 'block');
                        $('#Table').html(data);
                        $('#preloader').css('display', 'none');
                    }
                });
            }
            else {
                 $.ajax({
                    url: '@Url.Action("PartialIndex", "CasCarInformation")',
                    type: "POST",
                    data: { type: "A" },
                     success: function (data) {

                         $('#Table').html(data);
                         $('#preloader').css('display', 'none');
                    }
                });
            }
        }
    </script>
    <script>
        function LoadData() {
            //alert();
            $('#preloader').css('display', 'block');
            $('#status').css('display', 'block');
        }

    </script>
    
</div>
