@model IEnumerable<RentCar.Models.CR_Cas_Account_Receipt>

@{
    ViewBag.Title = "ReceiptList";
    Layout = "~/Views/Shared/_CASLayout.cshtml";
}
<style>
    label {
        float: none
    }

    .radio_top {
        float: left;
        margin-right: 10px;
        line-height: 0.8
    }
</style>
<style>
    .btn_form2 {
        float: right;
        color: #F3B161;
        font-weight: bold;
        margin-left: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #fff;
        background: #4F7DB1;
        border: none;
        float: right;
        margin-left: 10px;
    }

        .btn_form2 i {
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            background: #4F7DB1;
            float: right;
            font-size: 20px;
            margin-left: 10px;
            text-align: center;
        }
</style>
<div class="content">
    <!-- Start Content-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card-box table-responsive" style="height:79vh">
                    <div class="title_corp"><h3> التقارير/ الحركة المالية للموظفين /عرض البيانات/ تفاصيل القيود  </h3></div>
                    <div class="subtitle_corp">تمكنك الصفحة من عرض و بحث عن القيود المالية للموظف </div>
                    <div class="hr_60"></div>
                    <div class="hr_80"></div>
                    <div class="corp_page">
                        <div class="page_content">
                            <form method="post">
                                <div class="form_bg" style="width:100%">
                                    <div class="responsive-table-plugin">
                                        <div class="table-rep-plugin">
                                            <div class="table-responsive" data-pattern="priority-columns" style="border:none;">
                                                <div class="href_layout" style="width:15%;float:right;margin-top:15px;margin-bottom:10px;">
                                                    <a href="~/CasUserReceipt/Index" class="btn_form" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-arrow-circle-left"></i></a>
                                                    <script>
                                                        $(document).ready(function () {
                                                            $("#inputtext").on("keyup", function () {
                                                                var value = $(this).val().toLowerCase();
                                                                $("#tbl tr").filter(function () {
                                                                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                                                });
                                                            });
                                                        });
                                                    </script>
                                                </div>
                                                <div style="width:100%;float:left;"></div>


                                            </div>
                                            <div class="row">
                                                <div class="col-md-4" style=" display: flex; align-items: center">

                                                    <div style="float:right;width:30%;">
                                                        <label class="lbl">إسم الموظف</label>
                                                    </div>
                                                    <div style="float: right; width: 70%;">
                                                        <input type="text" class="form-control" name="ViewBag.UserName" id="RenterName" value="@ViewBag.UserName" readonly style="border:none" />
                                                    </div>
                                                </div>
                                                <div class="col-md-4" style=" display: flex; align-items: center">

                                                </div>
                                                <div class="col-md-4" style=" display: flex; align-items: center">

                                                </div>



                                            </div>
                                            <div class="row">
                                                <div class="col-md-4" style=" display: flex; align-items: center">

                                                    <div style="float:right;width:30%;">
                                                        <label class="lbl">الرصيد الحالي</label>
                                                    </div>
                                                    <div style="float: right; width: 70%;">
                                                        <input type="text" class="form-control" name="ViewBag.SalesPointBalance" id="RenterName" value="@ViewBag.Balance" readonly style="border:none" />
                                                    </div>
                                                </div>
                                                <div class="col-md-4" style=" display: flex; align-items: center">

                                                    <div style="float:right;width:30%;">
                                                        <label class="lbl">مجموع الدائن</label>
                                                    </div>
                                                    <div style="float: right; width: 70%;">
                                                        <input type="text" class="form-control" name="RenterCreit" id="RenterCreit" @*value="@ViewBag.RenterCreit"*@ readonly style="border:none" />
                                                    </div>
                                                </div>
                                                <div class="col-md-4" style=" display: flex; align-items: center">

                                                    <div style="float:right;width:30%;">
                                                        <label class="lbl">مجموع المدين</label>
                                                    </div>
                                                    <div style="float: right; width: 70%;">
                                                        <input type="text" class="form-control" name="RenterDebit" id="RenterDebit" @*value="@ViewBag.RenterDebit"*@ readonly style="border:none" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-3 ">
                                                <div class="col-md-7">
                                                    <div class="col-md-4" style="float:right">
                                                        <div class="row">
                                                            <div class="col-md-2" style="float:right">
                                                                <label>من</label>
                                                            </div>
                                                            <div class="col-md-10" style="float:right">
                                                                <input type="date" id="Startdate" onclick="GetDateFilter()" style="width:100%" value="@ViewBag.startDate">
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4" style="float:right">
                                                        <div class="row">
                                                            <div class="col-md-2" style="float:right;padding-right:0px;">
                                                                <label>إلى</label>
                                                            </div>
                                                            <div class="col-md-10" style="float:right">
                                                                <input type="date" id="Enddate" onclick="GetDateFilter()" style="width:100%" value="@ViewBag.endDate">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2" style="float:right">
                                                        <a href="javascript:GetFilterDate();" class="btn_form2" data-toggle="tooltip" data-placement="top" title="بحث"><i class="fa fa-check-circle"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="partial_table">
                                                @{
                                                    Html.RenderAction("table");
                                                }
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div id="dtBasicExample_print">

                                    <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
                                    <script>
                                        function printDiv() {
                                            window.frames["print_frame"].document.body.innerHTML = document.getElementById("dtBasicExample_print").innerHTML;
                                            window.frames["print_frame"].window.focus();
                                            window.frames["print_frame"].window.print();
                                        }
                                    </script>
                                    <script>
                                        $(document).ready(function () {
                                            $('#dtBasicExample').DataTable();
                                            $('.dataTables_length').addClass('bs-select');
                                        });
                                    </script>
                                    <script>
                                        function sortTable(n) {
                                            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                                            table = document.getElementById("myTable");
                                            switching = true;
                                            // Set the sorting direction to ascending:
                                            dir = "asc";
                                            /* Make a loop that will continue until
                                            no switching has been done: */
                                            while (switching) {
                                                // Start by saying: no switching is done:
                                                switching = false;
                                                rows = table.rows;
                                                /* Loop through all table rows (except the
                                                first, which contains table headers): */
                                                for (i = 1; i < (rows.length - 1); i++) {
                                                    // Start by saying there should be no switching:
                                                    shouldSwitch = false;
                                                    /* Get the two elements you want to compare,
                                                    one from current row and one from the next: */
                                                    x = rows[i].getElementsByTagName("TD")[n];
                                                    y = rows[i + 1].getElementsByTagName("TD")[n];
                                                    /* Check if the two rows should switch place,
                                                    based on the direction, asc or desc: */
                                                    if (dir == "asc") {
                                                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                                            // If so, mark as a switch and break the loop:
                                                            shouldSwitch = true;
                                                            break;
                                                        }
                                                    } else if (dir == "desc") {
                                                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                                            // If so, mark as a switch and break the loop:
                                                            shouldSwitch = true;
                                                            break;
                                                        }
                                                    }
                                                }
                                                if (shouldSwitch) {
                                                    /* If a switch has been marked, make the switch
                                                    and mark that a switch has been done: */
                                                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                                                    switching = true;
                                                    // Each time a switch is done, increase this count by 1:
                                                    switchcount++;
                                                } else {
                                                    /* If no switching has been done AND the direction is "asc",
                                                    set the direction to "desc" and run the while loop again. */
                                                    if (switchcount == 0 && dir == "asc") {
                                                        dir = "desc";
                                                        switching = true;
                                                    }
                                                }
                                            }
                                        }
                                    </script>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end row -->
</div> <!-- container-fluid -->


@*sum of RenterCreit*@
<script>
    window.addEventListener('DOMContentLoaded', function () {
        var columnIndex = 6; // Index of the column you want to sum (zero-based index)
        var sum = 0;

        var table = document.getElementById('myTable');
        var rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');

        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName('td');
            var value = parseFloat(cells[columnIndex].textContent.replace(/,/g, ''));

            if (!isNaN(value)) {
                sum += value;
            }
        }

        var sumResult = document.getElementById('RenterCreit');
        sumResult.value = sum.toLocaleString();
    });
</script>

@*sum of RenterDebit*@
<script>
    window.addEventListener('DOMContentLoaded', function () {
        var columnIndex = 7; // Index of the column you want to sum (zero-based index)
        var sum = 0;

        var table = document.getElementById('myTable');
        var rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');

        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName('td');
            var value = parseFloat(cells[columnIndex].textContent.replace(/,/g, ''));

            if (!isNaN(value)) {
                sum += value;
            }
        }

        var sumResult = document.getElementById('RenterDebit');
        sumResult.value = sum.toLocaleString();
    });
</script>


@*ajax call to get recipt by date*@
<script>
        function GetFilterDate() {
            var sd = document.getElementById('Startdate').value;
            var ed = document.getElementById('Enddate').value;
            var id = '@ViewBag.id';

            $.ajax({
            url: '@Url.Action("table", "CasUserReceipt")',
            type: "POST",
            data: {StartDate: sd, EndDate:ed,id:id },
            success: function (data) {
                $('#partial_table').html(data);
                var columnIndex = 6; // Index of the column you want to sum (zero-based index)
                var sum = 0;

                var table = document.getElementById('myTable');
                var rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');

                for (var i = 0; i < rows.length; i++) {
                    var cells = rows[i].getElementsByTagName('td');
                    var value = parseFloat(cells[columnIndex].textContent.replace(/,/g, ''));

                    if (!isNaN(value)) {
                        sum += value;
                    }
                }

                var sumResult = document.getElementById('RenterCreit');
                sumResult.value = sum.toLocaleString();

                var columnIndex = 7; // Index of the column you want to sum (zero-based index)
                var sum = 0;

                var table = document.getElementById('myTable');
                var rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');

                for (var i = 0; i < rows.length; i++) {
                    var cells = rows[i].getElementsByTagName('td');
                    var value = parseFloat(cells[columnIndex].textContent.replace(/,/g, ''));

                    if (!isNaN(value)) {
                        sum += value;
                    }
                }

                var sumResult = document.getElementById('RenterDebit');
                sumResult.value = sum.toLocaleString();
               }
            });
        }
</script>