@model RentCar.Models.CR_MAS_Renter_Address

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CR_MAS_Renter_Address</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Renter_Address_Regions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Renter_Address_Regions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Renter_Address_City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Renter_Address_City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Renter_Address_Ar_District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Renter_Address_Ar_District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Renter_Address_En_District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Renter_Address_En_District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Renter_Address_Fr_District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Renter_Address_Fr_District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Renter_Address_Ar_Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Renter_Address_Ar_Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Renter_Address_En_Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Renter_Address_En_Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Renter_Address_Fr_Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Renter_Address_Fr_Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Renter_Address_Building)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Renter_Address_Building)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Renter_Address_Unit_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Renter_Address_Unit_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Renter_Address_Zip_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Renter_Address_Zip_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Renter_Address_Additional_Numbers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Renter_Address_Additional_Numbers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Renter_Address_UpDate_Post)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Renter_Address_UpDate_Post)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Renter_Address_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Renter_Address_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Renter_Address_Reasons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Renter_Address_Reasons)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CR_Mas_Renter_Address_Id_Code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
