@model RentCar.Models.CR_Mas_Sup_Virtual_Inspection

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CR_Mas_Sup_Virtual_Inspection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Virtual_Inspection_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Virtual_Inspection_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Virtual_Inspection_Ar_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Virtual_Inspection_Ar_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Virtual_Inspection_En_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Virtual_Inspection_En_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Virtual_Inspection_Fr_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Virtual_Inspection_Fr_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Virtual_Inspection_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Virtual_Inspection_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Virtual_Inspection_Reasons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Virtual_Inspection_Reasons)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CR_Mas_Sup_Virtual_Inspection_Code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
