

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSys3.cshtml";
}

<style>
    .radio_top {
        float: left;
        margin-right: 10px;
        line-height: 0.8
    }

    .btn_form i {
        width: 35px;
        height: 35px;
        line-height: 40px;
        text-align: center;
        color: #fff;
        background: #4F7DB1;
        float: right;
        margin-left: 10px;
        padding-right: 12px;
        text-align: center
    }

    .btn_form {
        float: right;
        color: #F3B161;
        font-weight: bold;
        margin-left: 10px;
        width: 45px;
        height: 40px;
        line-height: 37px;
        text-align: center;
        color: #fff;
        background: #4F7DB1;
        border: none;
        float: right;
        margin-left: 10px;
    }

    .btn_form2 i {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #fff;
        background: #4F7DB1;
        float: right;
        font-size: 20px;
        margin-left: 10px;
        text-align: center
    }

    .btn_form2 {
        float: right;
        color: #F3B161;
        font-weight: bold;
        margin-left: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #fff;
        background: #4F7DB1;
        border: none;
        float: right;
        margin-left: 10px;
    }
    .row{
       align-items:center;
    }
</style>
<div class="content">
    <!-- Start Content-->
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="card-box table-responsive " style="padding:9px !important;">
                    <div class="title_corp"><h3>التقرير المالي لموظف / التقرير</h3></div>
                    <div class="subtitle_corp"> تمكنك الصفحة من عرض الحركة المالية وعرض بيانات القيد التفصيلية</div>
                    <div class="hr_60"></div>
                    <div class="hr_80"></div>
                    <div class="corp_page">
                        <div class="page_content">
                            <form method="post">
                                <div class="form_bg" style="width:100%">

                                    <div class="responsive-table-plugin">
                                        <div class="table-rep-plugin">
                                            <div class="href_layout" style="width:50%;float:right;margin-top:15px;margin-bottom:10px;">
                                                <a href="/BranchHome/BranchStat" class="btn_form" data-toggle="tooltip" data-placement="top" title="إغلاق"><i class="fa fa-times"></i></a>
                                            </div>

                                        </div>
                                        <div class="row" style="width: 100%; min-height: 25px; height: 25px;margin-bottom:40px;">                                     
                                            <div class="col-md-12" style="align-items:center">
                                                <div class="col-md-4">
                                                    <div class="col-md-12" style="float:right">
                                                        <div class="row">
                                                            <div style="float:right; margin-bottom:5px">
                                                                <label>الرصيد الحالي</label>
                                                            </div>
                                                            <div><input class="form-control" type="text" id="UserBalance" name="UserBalance" value="@ViewBag.UserBalance" readonly/></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4" style="float:right">
                                                    <div class="row">
                                                        <div  style="float: right; margin-bottom: 3px">
                                                            <label>مجموع الدائن </label>
                                                        </div>
                                                        <div ><input class="form-control" type="text" id="UserCreit" name="UserCreit" value="@ViewBag.UserCreit"  readonly/></div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4" style="float: left">
                                                    <div class="row">
                                                        <div  style="float: left; margin-bottom: 3px"><label>مجموع المدين</label></div>
                                                        <div ><input class="form-control" type="text" id="UserDebit" name="UserDebit" value="@ViewBag.UserDebit" readonly/></div>
                                                    </div>
                                                </div>
                                            </div>
                                           </div>



                                            <div class="row" style="width: 100%; min-height: 25px; height: 25px;margin-bottom:10px;">
                                                <div class="col-md-7">
                                                    <div class="col-md-4" style="float:right">
                                                        <div class="row">
                                                            <div class="col-md-2" style="float:right">
                                                                <label>من</label>
                                                            </div>
                                                            <div class="col-md-10" style="float:right">
                                                                <input type="date" id="Startdate" onclick="GetDateFilter()" style="width:100%" value="@ViewBag.Sdate">
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4" style="float:right">
                                                        <div class="row">
                                                            <div class="col-md-2" style="float:right;padding-right:0px;">
                                                                <label>إلى</label>
                                                            </div>
                                                            <div class="col-md-10" style="float:right">
                                                                <input type="date" id="Enddate" onclick="GetDateFilter()" style="width:100%" value="@ViewBag.Edate">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2" style="float:right">
                                                        <a href="javascript:GetFilterDate();" class="btn_form2" data-toggle="tooltip" data-placement="top" title="بحث"><i class="fa fa-check-circle"></i></a>
                                                    </div>
                                                </div>
                                                <div class="col-md-5" style="padding-right: 30px;padding-top:10px;">
                                                    <div class="">
                                                        <div class="radio_top">
                                                            <input type="radio" id="ShowCustody" name="Show" onclick="GetFilter()" style="float:right;margin-left:4px;width:13px;height:13px;">
                                                            <label for="css" style="float: left; font-size: 0.75rem">عهدة</label>
                                                        </div>
                                                        <div class="radio_top">
                                                            <input type="radio" id="Showbooked" name="Show" onclick="GetFilter()" style="float:right;margin-left:4px;width:13px;height:13px;">
                                                            <label for="html" style="float: left; font-size: 0.75rem">محجوز</label>
                                                        </div>
                                                        <div class="radio_top">
                                                            <input type="radio" id="ShowTransfered" name="Show" onclick="GetFilter()" style="float:right;margin-left:4px;width:13px;height:13px;">
                                                            <label for="html" style="float: left; font-size: 0.75rem">مرحل</label>
                                                        </div>
                                                        <div class="radio_top">
                                                            <input type="radio" id="ShowAll" name="Show" onclick="GetFilter()" style="float:right;margin-left:4px;width:13px;height:13px;">
                                                            <label for="javascript" style="float: left; font-size: 0.75rem">الكل</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="UserReceiptTable">
                                                @{
                                                    Html.RenderAction("Table");
                                                }

                                            </div>
                                        </div>

                                    </div>

                                <div id="dtBasicExample_print">

                                    <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
                                    <script>
                                        function printDiv() {
                                            window.frames["print_frame"].document.body.innerHTML = document.getElementById("dtBasicExample_print").innerHTML;
                                            window.frames["print_frame"].window.focus();
                                            window.frames["print_frame"].window.print();
                                        }
                                    </script>
                                    <script>
                                        $(document).ready(function () {
                                            $('#dtBasicExample').DataTable();
                                            $('.dataTables_length').addClass('bs-select');
                                        });
                                    </script>
                                    <script>
                                        function sortTable(n) {
                                            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                                            table = document.getElementById("myTable");
                                            switching = true;
                                            // Set the sorting direction to ascending:
                                            dir = "asc";
                                            /* Make a loop that will continue until
                                            no switching has been done: */
                                            while (switching) {
                                                // Start by saying: no switching is done:
                                                switching = false;
                                                rows = table.rows;
                                                /* Loop through all table rows (except the
                                                first, which contains table headers): */
                                                for (i = 1; i < (rows.length - 1); i++) {
                                                    // Start by saying there should be no switching:
                                                    shouldSwitch = false;
                                                    /* Get the two elements you want to compare,
                                                    one from current row and one from the next: */
                                                    x = rows[i].getElementsByTagName("TD")[n];
                                                    y = rows[i + 1].getElementsByTagName("TD")[n];
                                                    /* Check if the two rows should switch place,
                                                    based on the direction, asc or desc: */
                                                    if (dir == "asc") {
                                                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                                            // If so, mark as a switch and break the loop:
                                                            shouldSwitch = true;
                                                            break;
                                                        }
                                                    } else if (dir == "desc") {
                                                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                                            // If so, mark as a switch and break the loop:
                                                            shouldSwitch = true;
                                                            break;
                                                        }
                                                    }
                                                }
                                                if (shouldSwitch) {
                                                    /* If a switch has been marked, make the switch
                                                    and mark that a switch has been done: */
                                                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                                                    switching = true;
                                                    // Each time a switch is done, increase this count by 1:
                                                    switchcount++;
                                                } else {
                                                    /* If no switching has been done AND the direction is "asc",
                                                    set the direction to "desc" and run the while loop again. */
                                                    if (switchcount == 0 && dir == "asc") {
                                                        dir = "desc";
                                                        switching = true;
                                                    }
                                                }
                                            }
                                        }
                                    </script>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- container-fluid -->
    <!-- validation init -->
    <script>

        function removeAllCheckPoints() {
            var radioButtons = document.getElementsByName('Show');
            for (var i = 0; i < radioButtons.length; i++) {
                radioButtons[i].checked = false;
            }
        }
        function GetFilterDate() {
            var sd = document.getElementById('Startdate').value;
            var ed = document.getElementById('Enddate').value;
            $.ajax({
            url: '@Url.Action("Table", "BranchUserReceipt")',
            type: "POST",
                data: { type: "Date", StartDate: sd, EndDate:ed },
                success: function (data) {
                    $('#UserReceiptTable').html(data);
                    removeAllCheckPoints()

                }
            });
            $.ajax({
                    url: '@Url.Action("GetReceiptSum", "BranchUserReceipt")',
                    type: "POST",
                    data: { type: "Date", StartDate: sd, EndDate: ed },
                        success: function (data) {
                            var t = data.split("/");
                            var credit = parseFloat(t[0]).toLocaleString(undefined, {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            });
                            var debit = parseFloat(t[1]).toLocaleString(undefined, {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            });

                            $('#UserCreit').val(credit);
                            $('#UserDebit').val(debit);
                            removeAllCheckPoints()
                        }
                });
        }


        function GetFilter() {
            var sd = document.getElementById('Startdate').value;
            var ed = document.getElementById('Enddate').value;

            if (document.getElementById('ShowTransfered').checked) {
                $.ajax({
                url: '@Url.Action("Table", "BranchUserReceipt")',
                type: "POST",
                    data: { type: "T", StartDate: sd, EndDate: ed },
                    success: function (data) {

                        $('#UserReceiptTable').html(data);
                }
                });
                $.ajax({
                    url: '@Url.Action("GetReceiptSum", "BranchUserReceipt")',
                    type: "POST",
                    data: { type: "T", StartDate: sd, EndDate: ed },
                        success: function (data) {
                            var t = data.split("/");
                            var credit = parseFloat(t[0]).toLocaleString(undefined, {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            });
                            var debit = parseFloat(t[1]).toLocaleString(undefined, {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            });

                            $('#UserCreit').val(credit);
                            $('#UserDebit').val(debit);
                        }
                });
            } else if (document.getElementById('ShowCustody').checked) {

                 $.ajax({
                        url: '@Url.Action("Table", "BranchUserReceipt")',
                        type: "POST",
                     data: { type: "C", StartDate: sd, EndDate: ed },
                        success: function (data) {
                            $('#UserReceiptTable').html(data);
                        }
                 });
                $.ajax({
                    url: '@Url.Action("GetReceiptSum", "BranchUserReceipt")',
                    type: "POST",
                    data: { type: "C", StartDate: sd, EndDate: ed },
                        success: function (data) {
                            var t = data.split("/");
                            var credit = parseFloat(t[0]).toLocaleString(undefined, {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            });
                            var debit = parseFloat(t[1]).toLocaleString(undefined, {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            });

                            $('#UserCreit').val(credit);
                            $('#UserDebit').val(debit);
                        }
                });
            } else if (document.getElementById('Showbooked').checked) {

                 $.ajax({
                        url: '@Url.Action("Table", "BranchUserReceipt")',
                        type: "POST",
                     data: { type: "B", StartDate: sd, EndDate: ed },
                        success: function (data) {
                            $('#UserReceiptTable').html(data);
                        }
                 });
                $.ajax({
                    url: '@Url.Action("GetReceiptSum", "BranchUserReceipt")',
                    type: "POST",
                    data: { type: "B", StartDate: sd, EndDate: ed },
                        success: function (data) {
                            var t = data.split("/");
                            var credit = parseFloat(t[0]).toLocaleString(undefined, {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            });
                            var debit = parseFloat(t[1]).toLocaleString(undefined, {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            });

                            $('#UserCreit').val(credit);
                            $('#UserDebit').val(debit);
                        }
                });
            }
            else {
                $.ajax({
                    url: '@Url.Action("Table", "BranchUserReceipt")',
                    type: "POST",
                    data: { type: "All", StartDate: sd, EndDate: ed },
                        success: function (data) {
                            $('#UserReceiptTable').html(data);
                        }
                });

                $.ajax({
                    url: '@Url.Action("GetReceiptSum", "BranchUserReceipt")',
                    type: "POST",
                    data: { type: "All", StartDate: sd, EndDate: ed },
                        success: function (data) {
                            var t = data.split("/");
                            var credit = parseFloat(t[0]).toLocaleString(undefined, {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            });
                            var debit = parseFloat(t[1]).toLocaleString(undefined, {
                                minimumFractionDigits: 2,
                                maximumFractionDigits: 2
                            });

                            $('#UserCreit').val(credit);
                            $('#UserDebit').val(debit);
                        }
                });
            }
        }
    </script>
</div> <!-- content -->
