@model IEnumerable<RentCar.Models.CR_Cas_Contract_Basic>

@{
    ViewBag.Title = "RenterContracts";
    Layout = "~/Views/Shared/_LayoutSys3.cshtml";
}
<style>
    input {
        font-size: medium !important;
        padding-bottom: 0px !important;
        padding-top: 0 !important;
        height: 30px !important;
    }
</style>

<div class="content">
    <!-- Start Content-->
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="card-box table-responsive" style="height:78vh">
                    <div class="title_corp"><h3>البيانات التفصيلية للمستأجر و عقوده </h3></div>
                    
                    <div class="hr_60"></div>
                    <div class="hr_80"></div>
                    <div class="corp_page">
                        <div class="page_content">
                            <form method="post">
                                <div class="form_bg" style="width:100%">

                                    <div class="responsive-table-plugin">
                                        <div class="table-rep-plugin">
                                            <div class="table-responsive" data-pattern="priority-columns" style="border:none;overflow-x:hidden">
                                                <div class="href_layout" style="width:50%;float:right;margin-top:15px;margin-bottom:10px;">
                                                    <a href="/BranchHome/BranchStat" class="btn_form" data-toggle="tooltip" data-placement="top" title="إغلاق"><i class="fa fa-times"></i></a>
                                                    <a href="/Sys3RenterLessor/index" class="btn_form" data-toggle="tooltip" data-placement="top" title="العودة لقائمة المستأجرين"><i class="fa fa dripicons-arrow-left"></i></a>
                                                    @*<button type="submit" name="excelCall" class="btn_form" value="Excel" style="padding-right:4px;" data-toggle="tooltip" data-placement="top" title="ترحيل البيانات للإكسل">
                <i class="far fa-file-excel" aria-hidden="true" style=" margin-bottom: 3px; padding-left: 10px;"></i>
            </button>*@

                                                    <script>
                                                        $(document).ready(function () {
                                                            $("#inputtext").on("keyup", function () {
                                                                var value = $(this).val().toLowerCase();
                                                                $("#tbl tr").filter(function () {
                                                                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                                                });
                                                            });
                                                        });
                                                    </script>
                                                </div>

                                                @*<div id="responsive-datatable_filter" class="dataTables_filter" style="        float: right;right: 0;width: 50%;margin-top: 15px;" hidden>
                                                    <label style="float: left;width: 100%; text-align: left;line-height:30px">
                                                        <img src="~/images/srch.png" id="SrchImg" />
                                                        بحث:<input type="search" id="inputtext" class="form-control" placeholder="" aria-controls="responsive-datatable" style=" float: left;width: 80%; text-align: right;margin-right: 10px;">
                                                    </label>
                                                </div>*@

                                                <div style="width:100%;float:left"></div>
                                                <div class="row mb-1" style="width:100%;">
                                                    <div class="col-md-4" style="float:right">
                                                        <div class="row">
                                                            <div class="col-md-4" style="float:right">
                                                                <label style="margin-top:3px">رقم الهوية</label>
                                                            </div>
                                                            <div class="col-md-6"><input class="form-control" type="text" id="RenterId" name="RenterId" value="@ViewBag.RenterId" readonly /></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-1">
                                                    <div class="col-md-8" style="float:right">
                                                        <div class="row">
                                                            <div class="col-md-2" style="float:right"><label>الإسم</label></div>
                                                            <div class="col-md-8"><input class="form-control" type="text" id="RenterName" name="RenterName" value="@ViewBag.RenterName" readonly /></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2" style="float:right" hidden>
                                                        <div class="row">
                                                            <div class="col-md-7" style="float:right"><label>عدد العقود</label></div>
                                                            <div class="col-md-5"><input class="form-control" type="text" id="RenterName" name="RenterName" value="@ViewBag.ContractsNo" readonly /></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2" style="float:right">
                                                        <div class="row">
                                                            <div class="col-md-8" style="float:right;margin-top:3px"><label>عدد أيام التأجير</label></div>
                                                            <div class="col-md-4"><input class="form-control" type="text" id="RenterName" name="RenterName" value="@ViewBag.RentalDays" readonly /></div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row mb-1">
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <div class="col-md-4" style="float:right">
                                                                <label>المهنة</label>
                                                            </div>
                                                            <div class="col-md-6" style="float:right">
                                                                <input class="form-control" type="text" id="RenterJobs" name="RenterJobs" value="@ViewBag.RenterJobs" readonly />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <div class="col-md-3" style="float:right">
                                                                <label style="margin-top:5px">الجنسية</label>
                                                            </div>
                                                            <div class="col-md-4" style="float:right">
                                                                <input class="form-control" type="text" id="RenterNationality" name="RenterNationality" value="@ViewBag.RenterNationality" readonly />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <div class="col-md-4" style="float:right">
                                                                <label>العضوية</label>
                                                            </div>
                                                            <div class="col-md-6" style="float:right">
                                                                <input class="form-control" type="text" id="RenterMembership" name="RenterMembership" value="@ViewBag.RenterMembership" readonly />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-1">
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <div class="col-md-4" style="float:right">
                                                                <label>أول زيارة</label>
                                                            </div>
                                                            <div class="col-md-5" style="float:right">
                                                                <input class="form-control" type="text" id="RenterFirstInteraction" name="RenterFirstInteraction" data-inputmask="'alias': 'yyyy/mm/dd'" value="@ViewBag.RenterFirstInteraction" readonly />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4" hidden>
                                                        <div class="row">
                                                            <div class="col-md-4" style="float:right">
                                                                <label>اخر زيارة</label>
                                                            </div>
                                                            <div class="col-md-5" style="float:right">
                                                                <input class="form-control" type="text" id="RenterLastInteraction" name="RenterLastInteraction" value="@ViewBag.RenterLastInteraction" readonly />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4" hidden>
                                                        <div class="row">
                                                            <div class="col-md-4" style="float:right">
                                                                <label>التقييم</label>
                                                            </div>
                                                            <div class="col-md-3" style="float:right">
                                                                <input class="form-control" type="text" id="RenterRating" name="RenterRating" value="@ViewBag.RenterRating" readonly />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-1">
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <div class="col-md-6" style="float:right">
                                                                <label style="margin-top:5px">المسافة المقطوعة</label>
                                                            </div>
                                                            <div class="col-md-6" style="float:right">
                                                                <input class="form-control" type="text" id="Km" name="Km" value="@ViewBag.Km" readonly />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4" hidden>
                                                        <div class="row">
                                                            <div class="col-md-4" style="float:right">
                                                                <label>حجم المبالغ المتداولة</label>
                                                            </div>
                                                            <div class="col-md-5" style="float:right">
                                                                <input class="form-control" type="text" id="InteractionValue" name="InteractionValue" value="@ViewBag.InteractionValue" readonly />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4" hidden>
                                                        <div class="row">
                                                            <div class="col-md-4" style="float:right">
                                                                <label>الرصيد</label>
                                                            </div>
                                                            <div class="col-md-5" style="float:right">
                                                                <input class="form-control" type="text" id="RenterBalance" name="RenterBalance" value="@ViewBag.RenterBalance" readonly  style="direction:ltr;text-align:right"/>
                                                            </div>
                                                        </div>                                                          
                                                    </div>
                                                </div>
                                                
                                                <div style="width: 100%; min-height: 25vh; overflow: auto;">
                                                    <table id="myTable" class="table table-striped mb-0" style="cursor: default; overflow-x: hidden">
                                                        <thead>
                                                            
                                                            <tr>
                                                                <th width="22%">
                                                                    رقم العقد
                                                                </th>
                                                                @*<th width="10%">
                                                                    تاريخه
                                                                </th>*@
                                                                <th width="10%">
                                                                    بدايته
                                                                </th>
                                                                <th width="10%">
                                                                    نهايته
                                                                </th>
                                                                <th width="40%">
                                                                    السيارة
                                                                </th>
                                                                <th width="12%">
                                                                    قيمة العقد
                                                                </th>

                                                                <th width="6%">
                                                                    الحالة
                                                                </th>
                                                                <th width="6%">
                                                                    العقد
                                                                </th>


                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbl">
                                                            @foreach (var item in Model)
                                                            {
                                                                int copyNumber = item.CR_Cas_Contract_Basic_Copy;
                                                                <tr class="text-center">
                                                                    <td width="22%">
                                                                        @Html.DisplayFor(modelItem => item.CR_Cas_Contract_Basic_No)
                                                                        @{

                                                                            copyNumber = copyNumber - 1;
                                                                            if (copyNumber > 0)
                                                                            {
                                                                                <label style="float:left;color:red;">(@copyNumber)</label>
                                                                            }

                                                                        }
                                                                    </td>

                                                                    <td width="10%">
                                                                        @if (item.CR_Cas_Contract_Basic_Start_Date != null)
                                                                        {
                                                                            @item.CR_Cas_Contract_Basic_Start_Date.Value.ToString("yyyy/MM/dd")
                                                                        }


                                                                    </td>
                                                                    <td width="10%">
                                                                        @if (item.CR_Cas_Contract_Basic_Expected_End_Date != null)
                                                                        {
                                                                            @item.CR_Cas_Contract_Basic_Expected_End_Date.Value.ToString("yyyy/MM/dd")
                                                                        }


                                                                    </td>

                                                                    <td width="40%" class="text-left">

                                                                        @Html.DisplayFor(modelItem => item.CR_Cas_Sup_Car_Information.CR_Cas_Sup_Car_Collect_Ar_Name)

                                                                    </td>
                                                                    <td width="12%">
                                                                        @{
                                                                            var convertToFloat = (float)item.CR_Cas_Contract_Basic_Net_Value;
                                                                            var Contract_Basic_Net_Value = convertToFloat.ToString("#,##0.00");
                                                                        }
                                                                        @Contract_Basic_Net_Value

                                                                    </td>

                                                                    <td width="6%">
                                                                        @if (item.CR_Cas_Contract_Basic_Status == "A")
                                                                        {
                                                                            <label>نشط</label>
                                                                        }

                                                                        @if (item.CR_Cas_Contract_Basic_Status == "C")
                                                                        {
                                                                            <label>مغلق</label>
                                                                        } @if (item.CR_Cas_Contract_Basic_Status == "E")
                                                                        {
                                                                            <label>منتهي</label>
                                                                        }
                                                                    </td>

                                                                    <td align="center" width="6%">
                                                                        <a href="~/BasicContract/PDFFlyer/?p=@Html.DisplayFor(modelItem => item.CR_Cas_Contract_Basic_CreateContract_Pdf)" target="_blank">
                                                                            <i class="fas fa-file-pdf" style="color:red;"></i>
                                                                            @*<img src="~/images/common/PdfIcon.png" style="width:20px;height:20px" />*@
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="dtBasicExample_print">

                                        <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
                                        <script>
                                            function printDiv() {
                                                window.frames["print_frame"].document.body.innerHTML = document.getElementById("dtBasicExample_print").innerHTML;
                                                window.frames["print_frame"].window.focus();
                                                window.frames["print_frame"].window.print();
                                            }
                                        </script>
                                        <script>
                                            $(document).ready(function () {
                                                $('#dtBasicExample').DataTable();
                                                $('.dataTables_length').addClass('bs-select');
                                            });
                                        </script>
                                        <script>
                                            function sortTable(n) {
                                                var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                                                table = document.getElementById("myTable");
                                                switching = true;
                                                // Set the sorting direction to ascending:
                                                dir = "asc";
                                                /* Make a loop that will continue until
                                                no switching has been done: */
                                                while (switching) {
                                                    // Start by saying: no switching is done:
                                                    switching = false;
                                                    rows = table.rows;
                                                    /* Loop through all table rows (except the
                                                    first, which contains table headers): */
                                                    for (i = 1; i < (rows.length - 1); i++) {
                                                        // Start by saying there should be no switching:
                                                        shouldSwitch = false;
                                                        /* Get the two elements you want to compare,
                                                        one from current row and one from the next: */
                                                        x = rows[i].getElementsByTagName("TD")[n];
                                                        y = rows[i + 1].getElementsByTagName("TD")[n];
                                                        /* Check if the two rows should switch place,
                                                        based on the direction, asc or desc: */
                                                        if (dir == "asc") {
                                                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                                                // If so, mark as a switch and break the loop:
                                                                shouldSwitch = true;
                                                                break;
                                                            }
                                                        } else if (dir == "desc") {
                                                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                                                // If so, mark as a switch and break the loop:
                                                                shouldSwitch = true;
                                                                break;
                                                            }
                                                        }
                                                    }
                                                    if (shouldSwitch) {
                                                        /* If a switch has been marked, make the switch
                                                        and mark that a switch has been done: */
                                                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                                                        switching = true;
                                                        // Each time a switch is done, increase this count by 1:
                                                        switchcount++;
                                                    } else {
                                                        /* If no switching has been done AND the direction is "asc",
                                                        set the direction to "desc" and run the while loop again. */
                                                        if (switchcount == 0 && dir == "asc") {
                                                            dir = "desc";
                                                            switching = true;
                                                        }
                                                    }
                                                }
                                            }
                                        </script>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- container-fluid -->
    <!-- validation init -->
</div>