@model IEnumerable<RentCar.Models.CR_Cas_Renter_Lessor>

<table id="myTable" class="table table-striped mb-0" style="cursor:pointer">
    <thead>

        <tr>
            <th width="10%">
                الهوية
            </th>
            <th width="33%">
                الإسم
            </th>

            <th width="9%">
                أول زيارة
            </th>
            <th width="9%">
                آخر زيارة
            </th>
            <th width="8%">
                الرصيد
            </th>

            <th width="8%">
                المتداولة
            </th>

            <th width="8%">
                ع. العقود
            </th>
            <th width="8%">
                التقييم
            </th>
            <th width="7%">
                الحالة
            </th>

        </tr>
    </thead>
    <tbody id="tbl">

        @foreach (var item in Model)
        {
            if (item.CR_Cas_Renter_Lessor_Status == "K")
            {
                <tr style="color:red;">
                    <td width="10%" align="center">
                        <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)" style="color:red;">
                            @Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                        </a>
                    </td>
                    <td width="33%">
                        <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)" style="color:red;">
                            @Html.DisplayFor(modelItem => item.CR_Mas_Renter_Information.CR_Mas_Renter_Information_Ar_Name)
                        </a>
                    </td>
                    <td width="9%" style="text-align:center!important;vertical-align:middle">
                        <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)" style="color:red;">
                            @item.CR_Cas_Renter_Lessor_Date_First_Interaction.Value.ToString("yyyy/MM/dd")
                        </a>
                    </td>
                    <td width="9%" style="text-align:center!important;vertical-align:middle">
                        <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)" style="color:red;">
                            @if (item.CR_Cas_Renter_Lessor_Date_Last_Interaction != null)
                            {
                                @item.CR_Cas_Renter_Lessor_Date_Last_Interaction.Value.ToString("yyyy/MM/dd")
                            }
                            else
                            {
                                @item.CR_Cas_Renter_Lessor_Date_Last_Interaction
                            }

                        </a>
                    </td>
                    <td width="8%" style="text-align:center!important;vertical-align:middle">
                        <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)" style="color:red;">
                            @Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Balance)
                        </a>
                    </td>

                    <td width="8%" style="text-align:center!important;vertical-align:middle">
                        <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)" style="color:red;">
                            @Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Interaction_Amount_Value)
                        </a>
                    </td>


                    <td width="8%" style="text-align:center!important;vertical-align:middle">
                        <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)"style="color:red;">
                            @Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Contract_Number)
                        </a>

                    </td>

                    <td width="8%" style="text-align:center!important;vertical-align:middle">
                        <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)"style="color:red;">
                            @Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Contract_Number)
                        </a>

                    </td>


                    <td style="text-align:center!important;vertical-align:middle" width="7%">

                        @if (item.CR_Cas_Renter_Lessor_Status == "D")
                        {
                            <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)"style="color:red;">
                                <label>محذوف</label>
                            </a>

                        }
                        else if (item.CR_Cas_Renter_Lessor_Status == "A")
                        {
                            <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)"style="color:red;">
                                <label>نشط</label>
                            </a>

                        }
                        else if (item.CR_Cas_Renter_Lessor_Status == "K")
                        {
                            <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)"style="color:red;">
                                <label>محضور</label>
                            </a>

                        }
                        else if (item.CR_Cas_Renter_Lessor_Status == "R")
                        {
                            <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)"style="color:red;">
                                <label>مستأجر</label>
                            </a>

                        }

                    </td>

                </tr>
            }
            else
            {
                <tr>
                    <td width="10%" align="center">
                        <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)">
                            @Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                        </a>
                    </td>
                    <td width="33%">
                        <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)">
                            @Html.DisplayFor(modelItem => item.CR_Mas_Renter_Information.CR_Mas_Renter_Information_Ar_Name)
                        </a>
                    </td>
                    <td width="9%" style="text-align:center!important;vertical-align:middle">
                        <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)">
                            @item.CR_Cas_Renter_Lessor_Date_First_Interaction.Value.ToString("yyyy/MM/dd")
                        </a>
                    </td>
                    <td width="9%" style="text-align:center!important;vertical-align:middle">
                        <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)">
                            @if (item.CR_Cas_Renter_Lessor_Date_Last_Interaction != null)
                            {
                                @item.CR_Cas_Renter_Lessor_Date_Last_Interaction.Value.ToString("yyyy/MM/dd")
                            }
                            else
                            {
                                @item.CR_Cas_Renter_Lessor_Date_Last_Interaction
                            }

                        </a>
                    </td>
                    <td width="8%" style="text-align:center!important;vertical-align:middle">
                        <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)">
                            @Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Balance)
                        </a>
                    </td>

                    <td width="8%" style="text-align:center!important;vertical-align:middle">
                        <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)">
                            @Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Interaction_Amount_Value)
                        </a>
                    </td>


                    <td width="8%" style="text-align:center!important;vertical-align:middle">
                        <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)">
                            @item.CR_Mas_Renter_Information.CR_Cas_Contract_Basic.Where(l => l.CR_Cas_Contract_Basic_Status != "y" && l.CR_Cas_Contract_Basic_Status != "U").Count()
                        </a>

                    </td>

                    <td width="8%" style="text-align:center!important;vertical-align:middle">
                        <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)">
                            @Html.DisplayFor(modelItem => item.CR_Cas_Renter_Rating)
                        </a>

                    </td>


                    <td style="text-align:center!important;vertical-align:middle" width="7%">

                        @if (item.CR_Cas_Renter_Lessor_Status == "D")
                        {
                            <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)">
                                <label>محذوف</label>
                            </a>

                        }
                        else if (item.CR_Cas_Renter_Lessor_Status == "A")
                        {
                            <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)">
                                <label>نشط</label>
                            </a>

                        }
                        else if (item.CR_Cas_Renter_Lessor_Status == "K")
                        {
                            <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)">
                                <label>محضور</label>
                            </a>

                        }
                        else if (item.CR_Cas_Renter_Lessor_Status == "R")
                        {
                            <a href="~/CasRenterLessor/edit/?id1=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Id)
                                                                           &id2=@Html.DisplayFor(modelItem => item.CR_Cas_Renter_Lessor_Code)">
                                <label>مستأجر</label>
                            </a>

                        }

                    </td>

                </tr>
            }

        }
    </tbody>
</table>

