@model IEnumerable<RentCar.Models.CR_Cas_User_Information>

<table id="myTable" class="table table-striped mb-0" style="cursor:pointer">
    <thead>
        <tr>
            <th width="9%">
                رقم المستخدم
            </th>
            <th width="21%">
                إسم المستخدم
            </th>
            <th width="9%">
                رقم الجوال
            </th>
            <th width="9%">
                الرصيد
            </th>
            <th width="30%">
                البريد الإلكتروني
            </th>
           
        </tr>
    </thead>
    <tbody id="tbl">
        @foreach (var item in Model)
        {
                <tr>
                    <td width="9%" align="center">

                        <a href="~/TransferToUser/create/?id=@Html.DisplayFor(modelItem => item.CR_Cas_User_Information_Id)">
                            @Html.DisplayFor(modelItem => item.CR_Cas_User_Information_Id)
                        </a>
                    </td>
                    <td width="21%">
                        <a href="~/TransferToUser/create/?id=@Html.DisplayFor(modelItem => item.CR_Cas_User_Information_Id)">
                            @Html.DisplayFor(modelItem => item.CR_Cas_User_Information_Ar_Name)
                        </a>
                    </td>
                    

                    <td width="9%" align="center">
                        <a href="~/TransferToUser/create/?id=@Html.DisplayFor(modelItem => item.CR_Cas_User_Information_Id)">
                            @Html.DisplayFor(modelItem => item.CR_Cas_User_Information_Mobile)
                        </a>
                    </td>

                    <td width="9%" align="center">
                        <a href="~/TransferToUser/create/?id=@Html.DisplayFor(modelItem => item.CR_Cas_User_Information_Id)" style="color:red">
                            @Html.DisplayFor(modelItem => item.CR_Cas_User_Information_Balance)
                        </a>
                    </td>

                    <td align="right" width="30%">
                        <a href="~/TransferToUser/create/?id=@Html.DisplayFor(modelItem => item.CR_Cas_User_Information_Id)">
                            @Html.DisplayFor(modelItem => item.CR_Cas_User_Information_Emaile)
                        </a>
                    </td>

                 
                </tr>

        }
    </tbody>
</table>
