@model RentCar.Models.CR_Cas_Sup_Car_Information

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_CASLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CR_Cas_Sup_Car_Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Location_Branch_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Location_Branch_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Customs_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Customs_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Structure_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Structure_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Category_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Category_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Out_Secondary_Color_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Out_Secondary_Color_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_In_Main_Color_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_In_Main_Color_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_In_Secondary_Color_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_In_Secondary_Color_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Plate_Ar_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Plate_Ar_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Plate_En_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Plate_En_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_No_Current_Meter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_No_Current_Meter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Traffic_License_Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Traffic_License_Img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Joined_Fleet_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Joined_Fleet_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Left_Fleet_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Left_Fleet_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Last_Pictures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Last_Pictures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Documentation_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Documentation_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Maintenance_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Maintenance_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Reasons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Reasons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Collect_Ar_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Collect_Ar_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Collect_Ar_Short_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Collect_Ar_Short_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Collect_En_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Collect_En_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Collect_En_Short_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Collect_En_Short_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Collect_Fr_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Collect_Fr_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Collect_Fr_Short_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Collect_Fr_Short_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Car_Price_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Car_Price_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Beneficiary.CR_Cas_Sup_Beneficiary_Commercial_Registration_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Beneficiary.CR_Cas_Sup_Beneficiary_Commercial_Registration_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Branch.CR_Cas_Sup_Branch_Ar_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Branch.CR_Cas_Sup_Branch_Ar_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Cas_Sup_Owners.CR_Cas_Sup_Owners_Commercial_Registration_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Cas_Sup_Owners.CR_Cas_Sup_Owners_Commercial_Registration_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Com_Lessor.CR_Mas_Com_Lessor_Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Com_Lessor.CR_Mas_Com_Lessor_Logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Brand.CR_Mas_Sup_Brand_Ar_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Brand.CR_Mas_Sup_Brand_Ar_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Category_Car.CR_Mas_Sup_Category_Car_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Category_Car.CR_Mas_Sup_Category_Car_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Color.CR_Mas_Sup_Color_Group_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Color.CR_Mas_Sup_Color_Group_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Model.CR_Mas_Sup_Model_Group_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Model.CR_Mas_Sup_Model_Group_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CR_Mas_Sup_Registration_Car.CR_Mas_Sup_Registration_Car_Ar_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CR_Mas_Sup_Registration_Car.CR_Mas_Sup_Registration_Car_Ar_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
